/* Javascript */

.reveal{
  position: relative;
  transform: translateY(40px);
  opacity: 0;
  transition:  all 0.8s ease;
}


.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}





/* master */
body {
  overflow-x: hidden;
  background-color: #060D0D;
}


.Language-select{
  width: 100%;
  position: absolute;
  left: 90%;
  text-align: right;
  bottom:3.5rem;
 display: flex;
 
}

.language-icon {
  width: 40px;
  height: 30px;
}

.language-icon img{
  border-radius: 50%;
  background-color: aliceblue;
  width: 20px;
  height: 20px;

}

.Language-select button{
  background-color: #060D0D!important;
  width: 30%;
  display: flex;
}

.Language-select{
  display: flex;
}


#langbtn{
  display: none;
}

#langbtn.display{
  display:flex;
}


.Ka, .En{
 width: 24px;
 margin-right: 0.8rem;
}

.Ka img, .En img{
  width: 20px;
}



 .Ka a, .En a{
  padding: 0!important;
  padding-top:0;
}




.navbar{
  list-style-type: none;
  top: 5px;
  padding-top: 15px;
  margin-top: 2rem;
  display: block;
  justify-content: flex-end;
  
}

#navibar{
  display: flex;
  list-style: none;
  padding: .5rem;
}

.navbar a{
  font-size: 16px;
  font-family: BPG Mrgvlovani;
  color: rgba(255, 255, 255, 1);
  padding: 5px;
  text-decoration: none;
}
.navbar a:hover{
  color:black;
  transition: 0.7s;
  background-color: white;
}

.navbar span{
  font-size: 13px;
  padding-top: 5px;
}

.nav-line p{
  padding-top: 0.3rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: rgba(255, 255, 255, 1);
  font-size: 9px;
}

.navbar button{
  padding: 0;
  background-color: black;
  outline: none;
  border: none;
}

.navbar i{
  color: white;
}
.contact{
  padding-right: 10px;
}

.search-i{
height: 30px;
cursor: pointer;
}

.search-i i:hover{
  color: black;
  transition: 0.7s;
}


.footer{
justify-content: center;
display:flex;
color: rgb(252, 252, 252);
width: 80%;
background-color: rgba(6, 13, 13, 1);
padding-left:5%;
margin:0;
}

.footer-navigation-bar-inner{
  width: 150%;
  display: flex;
  justify-content: space-around;
}

.footer ul{
  list-style-type: none;
}


.contact-info-logo{
  margin-top: 0.5rem;
 margin-bottom: 1.3rem;
}

.contact-slogan{
  margin-bottom: 1.1rem;
  font-family: Montserrat;
  font-size: 100%;
  width:50%;
}

.footer-autopark, .footer-service-bar, .footer-about-bar{
  width: 100%;
}

.footer-service-bar, .footer-about-bar{
margin-left: 15%;

}


.footer-autopark ul, .footer-service-bar ul{
  padding-left: 0;
  font-size: 13px;
}

.footer-about-bar ul{
  padding-left: 0;
}

.footer-autopark a, .footer-service-bar a, .footer-about-bar a{
  text-decoration: none;
  color: aliceblue;
}


.contact-slogan p{
  font-size: 14px;
  word-wrap: break-word;
}


.our-social-meida{
  display: block;
}

.footer-social-icons{
  color: rgba(255, 255, 255, 0,8);

}

.social-icons1{
  display: flex;
  padding-left: 20px;
}


.social-icons1 i{
  padding-top: 1.5rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.hr-line hr{
  height: 1px;
  width:80%;
  color:aliceblue;
  margin-left: 5%;
}

.copyright{
  color:aliceblue;
  margin-left: 5%;
}


.bene_logo {
position: relative;
width: 80%;
left: 10px;
top: 1.2rem;

}

.navigation{
  top:20px;
  width: 98%;
  display: flex;
  justify-content: space-between;
}

.hamburger{
position:absolute;
top: 37px;
right: 5px;
display: none;
flex-direction: column;
justify-content: space-between;
width:30px;
height:21px;
cursor: pointer;
}

.hamburger .bar{
  width:100%;
  height: 3px;
  background-color: white;
  border-radius: 10px;
}



@media (max-width: 1277px){
  #navibar a{
  font-size: 15px;
  }
  .footer-navbar {
    display: none;
  }

  .our-social-meida{
    margin-right: 25%;
  }

.front-line-1{
 padding-top: 2%!important;
}



 
}

@media (max-width: 1225px) {
  header{
    margin-bottom: 19px;
  }

  

  .Language-select{
    left:0;
    margin-left: 0;
    position:relative;
    bottom: 6rem;
  }

  .Language-select button{
    width: 30%!important;
  }


  .Language-select img{
    width: 30%;
  }


  .language-icon img{
    width:20px;
    width:20px;
  }

 #langbtn.display{
   justify-content: flex-start;
 }
  

  .Ka, .En{
    width: 25px;
    padding-bottom: 0;
    margin-right: 1rem;
  }


  .Ka img, .En img{
    width: 20px;
    height: 20px;
    padding-bottom: 0;
  }
     
  .hamburger{
    display:flex;
  }

  .hamburger span:hover{
    cursor:pointer
  }

  .navbar{
    z-index: 15;
    transition: 0.5s;
    width: 100%;
  }
  

  #navibar {
    display:none;
  }

  #navibar.show{
    display:flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: #060D0D;
  }

  .navigation{
   flex-direction: column;
   align-items: center;
   right: 0;
   margin-right: 0;
   padding-bottom: 4px;
  }
   .navbar span{
     display: none;
   }

   .nav-line p{
     display: none;
   }

   .line-1-btn button{
     width: 30%;
   }

   .bene_logo{
     width: 130%!important;
     height: 130%!important;
   }

 .home, .about, .autopark, .rent, .academy, .events, .partners, .contact, .motors{
   padding-bottom: 10px;
 
 }
  
}


@media (max-width: 411px){
  .Language-select{
    display: block;
  }

  .language-icon img{
    width:20px;
    height:20px;
  }


  #langbtn.display{
    position: relative;
    display: block;
    padding-top: 0.8rem;
    right:2.3rem;
  }
  .Ka, .En{
width: 70%;
padding-bottom: 15%;
  }

  .Ka a, .En a{
    padding: 0!important;
  }

  .Ka img, .En img{
    width: 20px;
    padding: 0;
  }

}


  /* Index */

.carousel-arrow-icon{
  width: 2rem!important;
  background-color: rgb(216, 214, 214)!important;
  border-radius: 80px;
}

  .index-part-1{
    font-family: Monsserat;
    background-color: rgba(255, 255, 255, 1);
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

.index-part1-carousel-inner{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}


.carousel-part1-backgound{
  grid-column: 1 / 8;
}
  
.carousel-part1-shader{
  grid-column: 1 / 8;
}

.carousel-part1-shader img{
  width: 100%;
}

.index-slogan{
  grid-column: 2 / 4;
  margin-top: 5rem;
}

.who-we-are{
  font-size: 32px;
  font-family: Montserrat;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}

.our-motto{
  font-size: 14px;
  font-weight: Montserrat;
  color: rgba(255, 255, 255, 1);
}

.slogan-button button{
    background-color: rgba(6, 13, 13, 1);
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 1);
    align-items: center;
    border: 0.5px solid;
    outline: none;
  }
  
  .slogan-button p{
    margin-left: 1rem;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
  }
  
  .slogan-button i{
    margin-left: 1em;
    margin-right: 0.5rem;
  }

  #index-part1-carousel-indicators button{
    border-radius: 50%;
    width: 7px;
    height: 7px;
  }


.carousel-part1-backgound, .carousel-part1-shader, .index-slogan{
  grid-row: 1 / 2;
}


  .part-1-inner{
    width: 80%;
    margin-left: 10%;
    display: flex;
  }
  

  .index-about-us-header h4{
    color: rgb(95, 95, 95);
    font-weight: 600;
    margin-bottom: 1rem;
  }


  .index-about-us-title h2{
    font-weight: 700;
    margin-bottom: 1rem;
  }


.index-about-us-info{
  width:60%; 
}

.index-about-us-text{
  margin-bottom: 2rem;
  width:100%;
  font-size: 14px;
  line-height: 24px;
}

.index-about-us-button button{
  background-color: rgba(6, 13, 13, 1);
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 1);
  align-items: center;
  border: none;
  outline: none;
}

.index-about-us-button p{
  margin-left: 0.4rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.index-about-us-button i{
  margin-left: 0.3rem;
  margin-right: 0.4rem;
}
    
.about-us-video{
  margin-top: 2rem;
  margin-left: 4%;
}


.about-us-video embed{
  width: 522px;
  height: 325px;
}


.index-part-2{
  background-color: #FAFAFA;
}

.index-part-2-inner{
  width: 80%;
  margin-left: 10%;
}

.index-news-header{
  display: flex;
  justify-content: space-between;
}

/* Index */

.carousel-arrow-icon{
  height: 2rem!important;
 width: 2rem!important;
 background-color: rgb(216, 214, 214)!important;
 border-radius: 80px;
 align-items: center;
 padding-top: 2px;
}

 .index-part-1{
   font-family: Monsserat;
   background-color: rgba(255, 255, 255, 1);
   padding-top: 6rem;
   padding-bottom: 6rem;
 }


 

 .part-1-inner{
   width: 80%;
   margin-left: 10%;
   display: flex;
 }
 

 .index-about-us-header p{
   color: rgb(95, 95, 95);
   font-weight: 600;
   margin-bottom: 1rem;
   font-size: 18px;
 }


 .index-about-us-title p{
   font-weight: 700;
   margin-bottom: 1rem;
   font-size: 32px;
 }


.index-about-us-info{
 width:60%; 
}

.index-about-us-text{
 margin-bottom: 2rem;
 width:100%;
 font-size: 14px;
 line-height: 24px;
}

.index-about-us-button button{
 background-color: rgba(6, 13, 13, 1);
 display: flex;
 justify-content: space-between;
 color: rgba(255, 255, 255, 1);
 align-items: center;
 border: none;
 outline: none;
}

.index-about-us-button p{
 margin-left: 0.4rem;
 margin-top: 0.2rem;
 margin-bottom: 0.2rem;
}

.index-about-us-button i{
 margin-left: 0.3rem;
 margin-right: 0.4rem;
}
   
.about-us-video{
 margin-top: 2rem;
 margin-left: 4%;
}


.about-us-video iframe{
 width: 522px;
 height: 325px;
}


.index-part-2{
 background-color: #FAFAFA;
}

.index-part-2-inner{
 width: 80%;
 margin-left: 10%;
 padding-top: 1rem;
}

.index-news-header{
 display: flex;
 justify-content: space-between;
 margin-bottom: 2rem;
}

.index-news-header-title p{ 
font-size: 24px;
font-weight: 700;
}

.see-all-button button{
 display: flex;
 justify-content: space-between;
 align-items: center;
 border: 0.5px solid;
 background-color: rgba(250, 250, 250, 1);
 border-color: rgba(36, 160, 237, 1);
 outline: none;
}

.see-all-button p{
 margin-left: 0.4rem;
 margin-top: 0.2rem;
 margin-bottom: 0.2rem;
 margin-right: 0.4rem;
 color: rgba(36, 160, 237, 1);
 font-weight: 700;
 font-family:  TBC Contractica;
}

.see-all-button i{
 margin-left: 0.3rem;
 margin-right: 0.4rem;
 color: rgba(36, 160, 237, 1);
}


.index-news-body{
display: flex;
justify-content: space-between;
}


.index-news-article{
 width: 23%;
 margin-bottom: 3rem;
 box-shadow: 0px 8px 8px 0px rgba(6, 13, 13, 0.08);
}


.index-news-article img{
width: 100%;
}

.index-news-text{
 padding-left: 0.7rem;
 padding-right: 0.7rem;
 font-family: TBC Contractica;
}

.news-date p{
color: rgb(98, 99, 99);
}

.index-news-text h6{
 font-weight: 700;
 margin-bottom: 1rem;
}

.index-news-text p{
 font-size: 12px;
}

.index-read-more{
 display: flex;
 align-items: center;
 color: rgba(36, 160, 237, 1);
}

.index-read-more h5{
 margin-right: 0.5rem;
}


.index-part-3{
 background-color: rgb(248, 244, 244);
}

.index-part-3-inner{
 width: 100%;
 padding-top: 1rem;
 padding-bottom: 2rem;
}

.index-autopark-header{
 width:80%;
 margin-left: 10%;
 display: flex;
 justify-content: space-between;
 font-family: Montserrat;
 margin-bottom: 2rem;
}


.index-autopark-title p{
font-size: 24px;
font-weight: 700;
}

.index-autopark-carousel-inner{
 width: 90%;
 margin-left: 5%;
 margin-right: 5%;
 padding-bottom: 2rem;
 margin-bottom: 2rem;
 
}

#index-autopark-carousel-indicators button{
background-color: black;
width: 5px;
height:5px;
border-radius: 50%;
}

.index-autopark-carousel-item{
display: flex;
justify-content: space-around;
margin-bottom: 5rem;
width: 90%;
margin: 5%;
}

.index-autopark-carousel-item img{
 padding-left: 1.5rem;
width: 95%!important;

}

.index-autopark-item-mercedez, .index-autopark-item-toyota, .index-autopark-item-toyotaS{
 width: 40%!important;
 text-align: center;
 background-color: rgba(36, 160, 237, 0.082);
 border-radius: 140px 60px 110px 70px;
}

.index-autopark-item-toyota{
 background-color: rgba(36, 160, 237, 0.082);
 border-radius: 80px 140px 70px 120px;
}

.index-autopark-item-mercedez li, .index-autopark-item-toyota li, .index-autopark-item-toyotaS li{
 list-style-type: none;
 
}

.index-autopark-item-mercedez h6, .index-autopark-item-toyota h6, .index-autopark-item-toyotaS h6{
 font-size: 24px!important;
 font-weight: 700!important;
}

.index-autopark-item-mercedez p, .index-autopark-item-toyota p, .index-autopark-item-toyotaS p{
 color:rgba(36, 160, 237, 1);
}


.index-part-4{
 background-color: rgba(6, 13, 13, 1);
}

.index-part-4-inner{
 width: 100%;
 padding-top: 1rem;
 padding-bottom: 2rem;
}

.index-rent-title p{ 
font-size: 24px;
font-weight: 700;
}


.see-all-button-rent button{
 display: flex;
 justify-content: space-between;
 align-items: center;
 border: 0.5px solid;
 background-color: rgba(6, 13, 13, 1);
 border-color: rgba(255, 255, 255, 1);
 outline: none;
}

.see-all-button-rent p{
 margin-left: 0.4rem;
 margin-top: 0.2rem;
 margin-bottom: 0.2rem;
 margin-right: 0.4rem;
 color: rgba(255, 255, 255, 1);
 font-weight: 700;
 font-family:  TBC Contractica;
}

.see-all-button-rent i{
 margin-left: 0.3rem;
 margin-right: 0.4rem;
 color: rgba(255, 255, 255, 1);
}


.index-rent-header{
 width:80%;
 margin-left: 10%;
 display: flex;
 justify-content: space-between;
}

.index-rent-title{
 color: rgba(255, 255, 255, 1);
 font-family: Montserrat;
}


.index-rent-carousel-inner{
 width: 90%;
 margin-left: 5%;
 margin-right: 5%;
 padding-bottom: 2rem;
 margin-bottom: 2rem;
 
}

#index-rent-carousel-indicators button{
background-color: rgb(238, 238, 238);
width: 5px;
height:5px;
border-radius: 50%;
}

.index-rent-carousel-item{
display: flex;
justify-content: space-between;
margin-bottom: 5rem;
width: 90%;
margin-left: 5%;
}

.index-rent-carousel-item img{
width: 95%!important;
margin-bottom: 1.5rem;
}

.index-rent-item-mercedez, .index-rent-item-toyota, .index-rent-item-toyotaS{
 width: 40%!important;
 text-align: center;
 background-color: rgba(252, 252, 253, 0.082);
 border-radius: 140px 60px 110px 70px;

}

.index-rent-item-toyota{
 background-color: rgba(252, 252, 253, 0.082);
 border-radius: 80px 140px 70px 120px;
}

.index-rent-item-mercedez li, .index-rent-item-toyota li, .index-rent-item-toyotaS li{
 list-style-type: none;
 color: rgba(255, 255, 255, 1);
 font-family: Montserrat;
}

.index-rent-item-mercedez h6, .index-rent-item-toyota h6, .index-rent-item-toyotaS h6{
 font-size: 24px!important;
 font-weight: 700!important;
 
}

.index-rent-item-mercedez p, .index-rent-item-toyota p, .index-rent-item-toyotaS p{
 color: rgba(255, 255, 255, 0.493);
}



.index-part-5{
 padding-top: 3rem;
 padding-bottom: 3rem;
background-color: rgba(252, 252, 253, 0.082);
}


.part-5-inner{
 width: 85%;
 margin-left: 7.5%;
 
}


.index-academy-info{
 display: grid;
 grid-template-columns: repeat(9, 1fr);
}
   
.home-academy-text{
 grid-column: 6 / 10;
}

.academy-image-outer{
 grid-column: 1 / 6;
}

.academy-image{
 display: grid;
 grid-template-columns: repeat(5, 1fr);
 grid-row: 1;
}

.academy-background-image{
 grid-column: 1 / 5;
}

.academy-logo-image{
 align-self: center;
 grid-column: 1 / 6;
}

.academy-background-image, .academy-logo-image{
 grid-row: 1 /2;
}

.academy-background-image img{
width:100%;
}

.academy-logo-image img{
 width: 80%;
}

.index-academy-title h5{
font-family: Montserrat;
font-weight: 700;
color: rgba(252, 252, 253, 1);
margin-bottom: 1rem;
}

.index-academy-text p{
color: rgba(252, 252, 253, 1);
font-size: 14px;
font-weight: Montserrat;
}

.index-academy-button button{
 display: flex;
 justify-content: space-between;
 align-items: center;
 border: 0.5px solid;
 background-color: rgba(6, 13, 13, 1);
 border-color: rgba(255, 255, 255, 1);
 outline: none;
}

.index-academy-button p{
 margin-left: 0.4rem;
 margin-top: 0.2rem;
 margin-bottom: 0.2rem;
 margin-right: 0.4rem;
 color: rgba(255, 255, 255, 1);
 font-weight: 700;
 font-family:  TBC Contractica;
}

.index-academy-button i{
 margin-left: 0.3rem;
 margin-right: 0.4rem;
 color: rgba(255, 255, 255, 1);
}


.index-part-6{
 font-family: Monsserat;
 background-color: rgba(255, 255, 255, 1);
 padding-top: 6rem;
 padding-bottom: 6rem;
}

.part-6-inner{
 width: 80%;
 margin-left: 10%;
 display: flex;
}


.index-taxi-header p{
 color: rgb(95, 95, 95);
 font-weight: 600;
 margin-bottom: 1rem;
}


.index-taxi-title h2{
 font-weight: 700;
 margin-bottom: 1rem;
}


.index-taxi-info{
width:60%; 
}

.index-taxi-text{
margin-bottom: 2rem;
width:100%;
font-size: 14px;
line-height: 24px;
}

.index-taxi-button button{
background-color: rgba(6, 13, 13, 1);
display: flex;
justify-content: space-between;
color: rgba(255, 255, 255, 1);
align-items: center;
border: none;
outline: none;
}

.index-taxi-button p{
margin-left: 0.4rem;
margin-top: 0.2rem;
margin-bottom: 0.2rem;
}

.index-taxi-button i{
margin-left: 0.3rem;
margin-right: 0.4rem;
}
 
.index-taxi-image{
margin-top: 2rem;
margin-left: 4%;
}


.index-taxi-image img{
width:80%;
}


.part-7-inner{
 background-color: rgb(248, 244, 244);
}

.index-event-header{
 text-align: center;
 margin-bottom: 3.5rem;
 padding-top: 2rem;
 font-family: Montserrat;
 font-weight: 700;
 font-size: 24px;
}

.index-event-carousel-inner{
 width: 90%;
 margin-left: 5%;
 margin-right: 5%;
 padding-bottom: 2rem;
 margin-bottom: 2rem;
 
}

#index-event-carousel-indicators button{
background-color: black;
width: 5px;
height:5px;
border-radius: 50%;
}

.index-event-carousel-item{
display: flex;
justify-content: space-around;
margin-bottom: 2rem;
}

.index-event-carousel-item img{
width: 23%!important;
margin-bottom: 3rem;
}



.index-part-8{
 background-color: rgb(21, 21, 22);
}

.part-8-inner{
 width: 80%;
 margin-left: 10%;
}

.index-partners-header{
 color:rgba(255, 255, 255, 1);
 text-align: center;
 font-family: Montserrat;
 font-weight: 700;
 padding-top: 2rem;
 font-size: 24px;
 padding-bottom: 2rem;
}

.index-partners-logo{
 display: flex;
 justify-content: space-between;
padding-bottom: 2rem;
}

.index-partners-logo img{
width: 75%;
}












/* Fleet */

    /* fleet */
    .fleet-type-list{
      padding-left: 2%!important;
      padding-right: 2%!important;
    }

    .fleet-type-list p{
      font-size: 90%!important;
    }

    .fleet-line p{
      font-size: 80%!important;
    }

    .fleet-cars-inner{
      margin-left: 2%!important;
      padding-left: 0!important;
    }
    
    .fleet-cars-inner{
    justify-content: space-between;
    width: 95%!important;
    }

    .fleet-cars-col1 img{
      width: 95%!important;
    }

    .fleet-cars-col2 img {
      width: 87%!important;
    }

    .fleet-cars-col3 img {
      width: 90%!important;
    }

    .fleet-car-name h5{
      font-size: 80%!important;
    }

    .fleet-car-type h6{
      font-size: 80%!important;
    }
    
  }

.fleet-list{
  width: 100%;
  background-color:rgba(255, 255, 255, 1);
}


.fleet-header-outer{
  background-color: rgba(255, 255, 255, 1);
}

.fleet-header{
  text-align: center;
  color: rgb(12, 12, 12);
  font-family: BPG Mrgvlovani Caps 2010;
  padding-bottom: 1rem;
  padding-top: 1rem;
  background-color: rgba(255, 255, 255, 1);
}

.fleet-logos{
  background-color: rgba(255, 255, 255, 1);
}
.fleet-logo-inner{
  display: flex;
  justify-content: center;
}

.logo-list-line{
  display: flex;
  margin-right: 1rem;
}


.lexus-logo, .mercedes-logo, .toyota-logo, .tesla-logo{
  margin-left: 1.7rem;
}


.fleet-type{
  width:100%;
  margin-top: 2rem;
}

.fleet-type-list{
display: flex;  
justify-content: space-between;
font-family: Montserrat;
width: 80%;
margin-left: 10%;
}

.all:hover, .suv:hover, .sedan:hover, .minivan:hover, .minibus:hover, .bus:hover, .coupe:hover{
 color:rgba(36, 160, 237, 1);
 transition: 0.4s;
 cursor: pointer;
 text-shadow: rgb(32, 32, 122);
}

.fleet-name-list2 hr, .fleet-name-list hr{
  margin-left: 10%;
  width: 80%;
}

.fleet-class-header{
  width: 100%;
  font-family: Montserrat;
}

.fleet-cars-inner{
  margin-left: 5%;
}

.fleet-class{
  text-align: center;
}

.fleet-cars-col1, .fleet-cars-col2, .fleet-cars-col3{
  width: 30%;
  padding: 1%;
  font-family: Montserrat;
}
.fleet-cars-col1{
  margin-top: -0.4rem;
}

.fleet-cars-inner{
  display: flex;
  text-align: center;
}

.fleet-cars-col1 img{
  width: 60%;
}

.fleet-cars-col2 img{
  width: 60%;
}

.fleet-cars-col3 img{
  width: 60%;
}

.fleet-mercedes{
  margin-top: -0.15rem;
}

.fleet-car-type{
  color:rgba(36, 160, 237, 1);
}


/* contact page */

.contact-page{
width:100%;
}

.contact-page img{
  width:100%;
}



.contact-backgorund img{
width: 100%;

}





.contact-elements{
  width:100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.contact-elements img{
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
}

.contact-header{
  width:300px;
  padding-bottom: 10px;
}

.contact-header p{
  font-size: 25px;
  font-weight: 700;
  font-family: Montserrat;
}

.location{
  width: 15%;
  position: relative;
  top:15%;
  left:15%;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
}

.location-name, .location-mail, .location-phone{
  display:flex;
}

.location-name i, .location-mail i, .location-phone i{
  padding-right: 3px;
  color: rgba(255, 255, 255, 1);
}

.location p{
  color:white;
  font-family: Montserrat;
}


.contact-window{
  background-color:rgba(255, 255, 255, 1);
  height: 91%;
  width: 70%;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
}


.contact-window-header{
  margin-bottom: 2.5rem;
}


.contact-inputs{
  padding-top: 1rem;
}

.contact-window-header p{
  padding-top: 1rem;
  padding-left: 9%;
  font-size: 150%;
}


.input-name, .input-email, .input-number{
  display: flex;
  margin-bottom: 4.5%;
}


.input-message {
  margin-bottom: 4%;
}


.input-name p{
  margin-left: 7.5%;
  padding-top: 0.5rem;
  font-family: BPG Mrgvlovani;
  opacity: 0.8;
}

 .input-email input, .input-number input, .input-message input, .input-name input {
  width: 85%;
  margin-left: 7.5%;
  padding-top: 1rem;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  font-family: BPG Mrgvlovani;
  border-bottom: 1px solid;
}

.input-email i, .input-number i, .input-message i, .input-name i{
  position: absolute;
  padding-top: 1.3rem;
  padding-left: 1%;

}

.input-message{
  padding-bottom: 13%;
}


.input-send-button{
  position: relative;
  left:60%;
  bottom: 5%;
  width:40%;
}

.input-send-button button{
  display: flex;
  justify-content: center;
  width:100%;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(6, 13, 13, 1);
}

.input-send-button p{
  font-family: BPG Mrgvlovani;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-right: 1rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  font-size: 100%;
}

.input-send-button i{
  padding-bottom: 0;
  margin-bottom: 0;
  padding-top: 0.7rem;
  padding-bottom: 0.4rem;
}


/* Car-Rent */


.car-rent-inner{
  background-color: #101616;
  color:rgba(255, 255, 255, 1);
  width:100%;
}

.car-rent-title-inner{
  text-align: center;
  font-family: Montserrat;
}

.car-rent-logo-list-line{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.Nissan-logo, .Toyota-logo, .Kia-logo{
margin-left: 1.7rem;
}

.car-rent-line{
  width:80%;
  margin-left: 10%;
}

.car-rent-vehicles-row1-middle{
  display: grid;
}

.fleet-type-list{
  text-align: center;
}

.car-rent-class{
  text-align: center;
}

.car-rent-vehicles{
align-items: center;
width: 85%;
margin-left: 10%;
}

.car-rent-vehicles img{
width: 80%;
}



.car-rent-vehicles-row1-inner, .car-rent-vehicles-row2-inner, .car-rent-vehicles-row3-inner{
  display:flex;
  justify-content: space-around;

}


.car-rent-vehicles-row3, .car-rent-vehicles-row2, .car-rent-vehicles-row1{
margin-bottom: 2rem;
}

.car-rent-row3-car2, .car-rent-row2-car2, .car-rent-row1-car2{
  margin-left: 3rem;
}

.car-rent-row3-car2 img, .car-rent-row2-car2 img, .car-rent-row1-car2 img{
  margin-left: 3rem;
}

.car-rent-row3-car3, .car-rent-row2-car3, .car-rent-row1-car3{
  margin-left: 3rem;
}

.car-rent-row3-car3 img, .car-rent-row2-car3 img, .car-rent-row1-car3 img{
  margin-left: 3rem;
}

.car-rent-name, .car-rent-vehicle-type{
  text-align: center;
  margin-bottom: 1rem;
}

.rent-toyota-specs{
 
}

.rent-huyndai-specs{

}

.rent-kia-specs{
  margin-top: 2.2rem;
}

.car-rent-name{
  margin-top: 1.5rem;
  font-family: Montserrat;
}

.car-rent-vehicle-type{
  color: rgb(73, 72, 72);
}