/* Javascript */

.reveal{
  position: relative;
  transform: translateY(40px);
  opacity: 0;
  transition:  all 0.8s ease;
}


.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}





/* master */

body .ka{
  font-family: Montserrat;
}


body {
  overflow-x: hidden;
  background-color: #060D0D;
}

header{
  position: sticky;
  top: 0px;
  z-index: 2;
  width: 100%;
  padding-bottom: 0;
}

.container-fluid{
  width: 100%;
  padding: 0;
  z-index: 5;
}


.navigation{
  background-color: rgba(6, 13, 13, 1);

}

#langbtn{
  display: flex;
}

.Ka a, .En a, .Ru a{
  font-size: 13px;
  color:rgb(238, 238, 238);
}


.En, .Ru{
  padding-left: 12px;
}
 




.navbar{
  width:100%;
  display: grid;
  grid-template-columns: repeat(34, 1fr);
  padding-top: 0;
}

.bene_logo, #navibar, .Language-select{
  grid-row: 1 / 2;
}

.bene_logo{
 
  grid-column: 3 / 7;
}

.Language-select{
  padding-top: 2.8rem;
  grid-column: 31 / 34;
}


.bene_logo img{
  padding-top: 0.5rem;
  padding-right: 0.1rem;
  background-color: rgba(6, 13, 13, 1);
  width:63.2%!important;
}

#navibar{
  display: flex;
  justify-content: space-around;
  grid-column: 10 / 31;
  padding-top: 2rem;
  padding-bottom: 0.4rem;
}


.navbar a{
    font-size: 13px;
    font-family: Montserrat;
    color: rgba(255, 255, 255, 0.705);
    padding: 5px;
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    padding-bottom: 0;
    
}


.navbar p{
font-size: 7px!important;
padding-right: 5px!important;
padding-left: -20!important;
}
  
.navbar a:hover{
      transition: 0.3s;
      color: #00adef;
}


.about, .news, .autopark, .electric, .rent, .academy, .events, .partners, .motors, .nav-line, .contact{
  padding-top: 1.5rem;

}

.nav-line{
  margin-left: -2rem;
  margin-right: -2rem;
  font-size: 9px;
  padding-top: 2rem;
  color: rgba(255, 255, 255, 0.342);
}


.electric{
  padding-left: 0.5rem!important;
  padding-right: 0.2rem!important;
}

.electric img{
  width: 15px;
  height: 18.33px;
  margin-right: 8px;
  margin-left: -10px!important;
}

.contact{
  margin-right: 15px!important;
  margin-left: -5px!important;
}

.contact img{
  width: 16.67px;
  height: 16.67px;
  margin-right: 5px;
}

.current a{
      color: #00adef;
}

.nav-line{
  font-size: 9px;
 padding-top: 1.97rem;
 color: rgba(255, 255, 255, 0.356);
}

.footer-outer{
  width: 100%;
  background-color: rgba(6, 13, 13, 1);
}

.footer{
  width:85%;
  margin-left: 7.5%;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  padding-top: 2rem;
}

.contact-info, .footer-navigation-bar{
  grid-row: 1 / 2;
}

.contact-info{
  grid-column: 2 / 9;
}

.contact-info-logo{
  padding-bottom: 2rem;
}

.contact-info-logo img{
  width: 25%;
}

.contact-slogan p{
  width: 70%;
  font-size: 12px;
  font-family: Montserrat;
  color: rgba(255, 255, 255, 0.753);
}

.social-icons1{
  padding-top: 1rem;
  padding-bottom: 2rem;
  width: 40%;
  display: flex;
  justify-content: space-around;
}

.social-icons1 i{
color: rgba(255, 255, 255, 0.795);
width: 100%;
}



.footer-navigation-bar{
  grid-column: 10 / 21;
}

.footer-navigation-bar-inner{
  display: grid;
  grid-template-columns: repeat(20, 1fr);
}

.footer-autopark, .footer-service-bar, .footer-about-bar{
  grid-row: 1 / 2;
}

.footer-autopark{
  grid-column: 1 / 5;
  text-align: center;
}

.footer-autopark p{
  font-size: 13px;
  font-weight: 600;
  font-family: Montserrat;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 0;
}

.footer-autopark ul{
  padding-left: 0;
  padding-left: 1.5rem;
}

.footer-autopark li{
  font-size: 12px;
  font-family: Montserrat;
  color: rgba(255, 255, 255, 0.774);
  list-style-type: none;
  padding-top: 0.13rem;
  padding-bottom: 0.13rem;
  text-align: start;
}

.footer-service-bar{
  grid-column: 8 / 14;
  text-align: center;
}

.footer-service-bar p{
  font-size: 13px;
  font-weight: 600;
  font-family: Montserrat;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 0;
}

.footer-service-bar ul{
  padding-left: 3.6rem;
}

.footer-service-bar li{
  font-size: 12px;
  font-family: Montserrat;
  list-style-type: none;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  text-align: start;
}

.footer-service-bar a{
  text-decoration: 0;
  color: rgba(255, 255, 255, 0.74)!important;
}


.footer-about-bar{
  grid-column: 15 / 21;
  text-align: center;
}


.footer-about-bar p{
  font-size: 13px;
  font-weight: 600;
  font-family: Montserrat;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 0;
}

.footer-about-bar ul{
padding-left: 0;
padding-left: 3.6rem;
}

.footer-about-bar li{
  font-size: 12px;
  font-family: Montserrat;
  list-style-type: none;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  text-align: start;
}

.footer-about-bar a{
  text-decoration: 0;
  color: rgba(255, 255, 255, 0.719)!important;
}


.hr-line{
  width: 80%;
  margin-left: 10%;
  color: rgba(255, 255, 255, 1);
}


.copyright{
  margin-left: 10%;
}

.copyright p{
  color:rgba(255, 255, 255, 0.795);
  font-size: 11px;
  font-family: Montserrat;
}


.hamburger{
position:absolute;
top: 37px;
right: 5px;
display: none;
flex-direction: column;
justify-content: space-between;
width:30px;
height:21px;
cursor: pointer;
}

.hamburger .bar{
  width:100%;
  height: 3px;
  background-color: white;
  border-radius: 10px;
}



@media (max-width: 1277px){
  #navibar a{
  font-size: 15px;
  }
  .footer-navbar {
    display: none;
  }

  .our-social-meida{
    margin-right: 25%;
  }

.front-line-1{
 padding-top: 2%!important;
}



 
}

@media (max-width: 1225px) {
  header{
    margin-bottom: 19px;
  }

  

  .Language-select{
    left:0;
    margin-left: 0;
    position:relative;
    bottom: 6rem;
  }

  .Language-select button{
    width: 30%!important;
  }


  .Language-select img{
    width: 30%;
  }


  .language-icon img{
    width:20px;
    width:20px;
  }

 #langbtn.display{
   justify-content: flex-start;
 }
  

  .Ka, .En{
    width: 25px;
    padding-bottom: 0;
    margin-right: 1rem;
  }


  .Ka img, .En img{
    width: 20px;
    height: 20px;
    padding-bottom: 0;
  }
     
  .hamburger{
    display:flex;
    z-index: 15;
  }

  .hamburger:hover{
    cursor:pointer
  }

  .navbar{
    z-index: 15;
    transition: 0.5s;
    width: 100%;
  }
  

  #navibar {
    display:none;
  }

  #navibar.show{
    display:flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: #060D0D;
  }

  .navigation{
   flex-direction: column;
   align-items: center;
   right: 0;
   margin-right: 0;
   padding-bottom: 4px;
  }
   .navbar span{
     display: none;
   }

   .nav-line p{
     display: none;
   }

   .line-1-btn button{
     width: 30%;
   }

   .bene_logo{
     width: 130%!important;
     height: 130%!important;
   }

 .home, .about, .autopark, .rent, .academy, .events, .partners, .contact, .motors{
   padding-bottom: 10px;
 
 }
  
}


@media (max-width: 411px){
  .Language-select{
    display: block;
  }

  .language-icon img{
    width:20px;
    height:20px;
  }


  #langbtn.display{
    position: relative;
    display: block;
    padding-top: 0.8rem;
    right:2.3rem;
  }
  .Ka, .En{
width: 70%;
padding-bottom: 15%;
  }

  .Ka a, .En a{
    padding: 0!important;
  }

  .Ka img, .En img{
    width: 20px;
    padding: 0;
  }

}


  /* Index */

.carousel-arrow-icon{
  width: 2rem!important;
  background-color: rgb(216, 214, 214)!important;
  border-radius: 80px;
  height: 2rem!important;
  width: 2rem!important;
  align-items: center;
  padding-top: 2px;
}


 

.index-part1-carousel-inner{
  display: grid;
  grid-template-columns: repeat(20, 1fr);
}


.carousel-part1-backgound{
  grid-column: 1 / 21;
}
  
.carousel-part1-shader{
  grid-column: 1 / 21;
}

.carousel-part1-shader img{
  width: 100%;
}

.index-slogan{
  grid-column: 3 / 13;
  margin-top: 8rem;
  margin-left: 3rem;
}

.who-we-are{
  font-size: 23px;
  font-family: Montserrat;
 font-weight: 600;
  color: rgba(255, 255, 255, 1);
}

.who-we-are p{
  margin-bottom: 0.7rem;
}

.our-motto{
  font-size: 11px;
  font-weight: Montserrat;
  color: rgba(255, 255, 255, 0.603);
}

.our-moto p{
  font-weight: Montserrat;
}

.slogan-button button{
    background-color: rgba(6, 13, 13, 1);
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.5);
    align-items: center;
    border: 0.5px solid;
    outline: none;
  }
  
  .slogan-button p{
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 600;
    margin-left: 0.9rem;
    margin-top: 0.4rem;
    margin-bottom: 0.5rem;
  }
  
  .slogan-button img{
    margin-left: 0.3rem;
    margin-right: 0.6rem;
    color: rgb(255, 255, 255);
    width: 13%;
  }

  #index-part1-carousel-indicators button{
    border-radius: 50%;
    width: 7px;
    height: 7px;
  }


.carousel-part1-backgound, .carousel-part1-shader, .index-slogan{
  grid-row: 1 / 2;
}


.index-part-1{
  background-color: rgba(255, 255, 255, 1);
  padding-top: 2rem;
  padding-bottom: 3rem;
  }


.part-1-inner{
 width: 75%;
 margin-left: 12.5%;
 display: grid;
 grid-template-columns: repeat(20, 1fr);
}


.index-about-us-info, .about-us-video{
  grid-row: 1 / 2;
}


.index-about-us-header p{
  color: rgba(6, 13, 13, 0.5);
  font-weight: 700;
  margin-bottom: 0.2rem;
  font-size: 16px;
  Font-family: Montserrat;
}

.index-about-us-title p{
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-style: normal;
  font-size: 26px;
  font-family: Montserrat;
  color: #060D0D;
  }


.index-about-us-info{
  grid-column: 1 / 18;
  padding-top: 2rem;
width:60%; 
}

.index-about-us-text{
margin-bottom: 2rem;
width:95%;
font-size: 13px;
line-height: 24px;
font-family: Montserrat;
color: rgba(6, 13, 13, 1);
}

.index-about-us-text p{
  font-size: 13px;
  line-height: 20px;
  font-family: Montserrat;
  font-weight: 400;
}

.index-about-us-button button{
  background-color: rgba(6, 13, 13, 1);
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 1);
  align-items: center;
  border: none;
  outline: none;
}

.index-about-us-button p{
  font-size: 13px;
  margin-left: 0.6rem;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  font-family: Montserrat;
}

.index-about-us-button img{
  margin-left: 0.3rem;
  margin-right: 0.6rem;
  color: rgb(255, 255, 255);
  width: 13%;
}
    
.about-us-video{
  grid-column: 11 / 20;
  margin-top: 6rem;
  margin-left: 4%;
}


.about-us-video embed{
  width: 485px;
  height: 311px;
}





.index-part-2{
 background-color: #FAFAFA;
}

.index-part-2-inner{
 width: 75%;
 margin-left: 12.5%;
 padding-top: 3rem;
}

.index-news-header{
 display: flex;
 justify-content: space-between;
 margin-bottom: 2rem;
}

.index-news-header-title p{ 
font-size: 18px;
font-weight: 700;
font-family: Montserrat;
}

.see-all-button button{
 display: flex;
 justify-content: space-between;
 align-items: center;
 border: 0.5px solid;
 background-color: rgba(250, 250, 250, 1);
 border-color: rgba(36, 160, 237, 0.5);
 outline: none;
}

.see-all-button p{
 margin-left: 0.4rem;
 margin-top: 0.5rem;
 margin-bottom: 0.5rem;
 margin-right: 0.4rem;
 color: rgb(36, 160, 237);
 font-weight: 700;
 font-family:  Montserrat;
 font-size: 12px;
}

.see-all-button img{
 margin-left: 0.3rem;
 margin-right: 0.4rem;
 width: 17%;
}


.index-news-body{
display: flex;
justify-content: space-around;
}


.index-news-article{
 width: 23%;
 margin-bottom: 3rem;
 box-shadow: 0px 8px 8px 0px rgba(6, 13, 13, 0.08);
}


.index-news-article img{
width: 100%;
}

.index-news-text{
 padding-left: 0.7rem;
 padding-right: 0.7rem;
 font-family: TBC Contractica;
 background-color: rgba(255, 255, 255, 1);
}

.news-date p{
color: rgba(6, 13, 13, 0.5);
font-family: Montserrat;
font-weight: bold;
}

.index-news-text h6{
  font-family: Montserrat;
  font-size: 12px!important;
 font-weight: 700;
 margin-bottom: 1rem;
 color:rgba(6, 13, 13, 0.753);

}

.index-news-text p{
 font-size: 9px;
 color:rgba(6, 13, 13, 0.753);
}

.index-read-more{
 display: flex;
 align-items: center;
 color: rgba(36, 160, 237, 0.699);
 padding-bottom: 0.5rem;
}

.index-read-more h5{
  font-size: 11px!important;
 margin-right: 0.5rem;
 font-weight: 700!important;
 font-family: Montserrat;
}

.index-read-more img{
  width: 7%;
  padding-bottom: 0.6rem;
}


.index-part-3{
 background-color: rgba(255, 255, 255, 1);
}

.index-part-3-inner{
 width: 100%;
 padding-top: 1rem;
 padding-bottom: 1rem;
}

.index-autopark-header{
 width:75%;
 margin-left: 12.5%;
 display: flex;
 justify-content: space-between;
 font-family: Montserrat;
 padding-top: 4rem;
 margin-bottom: -3rem;
}



.see-autopark-all-button button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.5px solid;
  background-color: rgba(255, 255, 255, 1);
  border-color: rgba(36, 160, 237, 0.5);
  outline: none;
 }
 
 .see-autopark-all-button p{
  margin-left: 0.4rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 0.4rem;
  color: rgb(36, 160, 237);
  font-weight: 700;
  font-family:  Montserrat;
  font-size: 12px;
 }
 
 .see-autopark-all-button img{
  margin-left: 0.3rem;
  margin-right: 0.4rem;
  width: 17%;
 }


.index-autopark-title p{
font-size: 20px;
font-weight: 700;
font-family: Montserrat;
}

.index-autopark-carousel-inner{
 width: 100%;
 padding-bottom: 2rem;
 margin-bottom: 2rem;
}

#index-autopark-carousel-indicators button{
background-color: black;
width: 5px;
height:5px;
border-radius: 50%;
}

.index-autopark-carousel-item{
display: flex;
justify-content: space-around;
margin-bottom: 5rem;
width: 80%;
margin: 5%;
margin-left: 10%;
}

.index-autopark-carousel-item img{
width: 100%!important;

}

.index-autopark-item-mercedez, .index-autopark-item-toyota, .index-autopark-item-toyotaS{
 width: 30%!important;
 text-align: center;
 background-color: rgba(36, 160, 237, 0.082);
 border-radius: 140px 60px 110px 70px;
 padding-top: 2rem;
}

.index-autopark-item-toyota{
 background-color: rgba(36, 160, 237, 0.082);
 border-radius: 80px 140px 70px 120px;
}

.index-autopark-item-mercedez li, .index-autopark-item-toyota li, .index-autopark-item-toyotaS li{
 list-style-type: none;
 
}

.index-autopark-item-mercedez h6, .index-autopark-item-toyota h6, .index-autopark-item-toyotaS h6{
 font-size: 19px!important;
 font-weight: 600!important;
 font-family: Montserrat;
}

.index-autopark-item-mercedez p, .index-autopark-item-toyota p, .index-autopark-item-toyotaS p{
 color:rgba(36, 160, 237, 1);
 font-family: Montserrat;
 font-weight: 400;
 font-size: 13px;
}


.index-part-4{
 background-color: rgba(6, 13, 13, 1);
}

.index-part-4-inner{
 width: 100%;
 padding-top: 3rem;
 padding-bottom: 1rem;
}


.index-rent-title{
color: rgba(255, 255, 255, 1);
font-family: Montserrat;
 }

.index-rent-title p{ 
font-size: 17px;
font-weight: 700;
font-family: Montserrat;
font-weight: bold;
}


.see-all-button-rent button{
 display: flex;
 justify-content: space-between;
 align-items: center;
 border: 0.5px solid;
 background-color: rgba(6, 13, 13, 1);
 border-color: rgba(255, 255, 255, 1);
 outline: none;
}

.see-all-button-rent p{
 margin-left: 0.4rem;
 margin-top: 0.2rem;
 margin-bottom: 0.2rem;
 margin-right: 0.4rem;
 color: rgba(255, 255, 255, 1);
 font-weight: 700;
 font-family:  Montserrat;
 font-size: 13px;
}

.see-all-button-rent i{
 margin-left: 0.3rem;
 margin-right: 0.4rem;
 color: rgba(255, 255, 255, 1);
}


.index-rent-header{
 width:75%;
 margin-left: 12.5%;
 display: flex;
 justify-content: space-between;
 padding-bottom: 0.2rem;
 margin-bottom: -4rem;
}


.index-rent-carousel-inner{
 width: 95%;
 margin-left: 3%;
 margin-right: 3%;
 padding-bottom: 2rem;
 margin-bottom: 2rem;
 
}

#index-rent-carousel-indicators button{
background-color: rgb(36, 160, 237);
width: 6px;
height:6px;
border-radius: 50%;
margin-bottom: 0;
}

.index-rent-carousel-item{
display: flex;
justify-content: space-between;
padding-bottom: 5rem;
width: 80%;
margin-left: 10%;
margin-top: 5rem;
}

.index-rent-carousel-item img{
width: 100%!important;
margin-bottom: 1rem;
padding-left: 1.5rem!important;
}

.index-rent-item-mercedez, .index-rent-item-toyota, .index-rent-item-toyotaS{
 width: 31.5%!important;
 text-align: center;
 background-color: rgba(252, 252, 253, 0.082);
 border-radius: 112px 48px 90px 56px;
padding-top: 1rem;
}

.index-rent-item-toyota{
 background-color: rgba(252, 252, 253, 0.082);
 border-radius: 80px 50px 120px 80px;
}

.index-rent-item-mercedez li, .index-rent-item-toyota li, .index-rent-item-toyotaS li{
 list-style-type: none;
 color: rgba(255, 255, 255, 1);
 font-family: Montserrat;
}

.index-rent-item-mercedez h6, .index-rent-item-toyota h6, .index-rent-item-toyotaS h6{
 font-size: 17px!important;
 font-weight: 600!important;
 
}

.index-rent-item-mercedez p, .index-rent-item-toyota p, .index-rent-item-toyotaS p{
 color: rgba(255, 255, 255, 0.493);
 font-family: Montserrat;
 font-size: 13px;
 font-weight: 400;
}



.index-part-5{
 padding-top: 3rem;
 padding-bottom: 3rem;
background-color: rgba(252, 252, 253, 0.02);
}


.part-5-inner{
 width: 75%;
 margin-left: 12.5%;
 
}


.index-academy-info{
 display: grid;
 grid-template-columns: repeat(30, 1fr);
}

.home-academy-text, .academy-image-outer{
  grid-row: 1 / 2;
}
   
.home-academy-text{
 grid-column: 16 / 31;
}

.academy-image-outer{
 grid-column: 1 / 15;
}

.academy-image{
 display: grid;
 grid-template-columns: repeat(5, 1fr);
 grid-row: 1;
}

.academy-background-image{
 grid-column: 1 / 6;
}

.academy-logo-image{
 align-self: center;
 grid-column: 1 / 6;
}

.academy-background-image, .academy-logo-image{
 grid-row: 1 /2;
}

.academy-background-image img{
width:100%;
}

.academy-logo-image img{
 width: 100%;
}

.index-academy-title p{
  font-size: 20px;
font-family: Montserrat;
font-weight: 700;
color: rgba(255, 255, 255, 1);
margin-bottom: 1rem;
}

.index-academy-text p{
color: rgba(252, 252, 253, 0.705);
font-size: 11px;
font-family: Montserrat;
font-weight: 400;
line-height: 20px;
}

.index-academy-button button{
 display: flex;
 justify-content: space-between;
 align-items: center;
 border: 0.5px solid;
 background-color: rgba(6, 13, 13, 1);
 border-color: rgba(255, 255, 255, 0.5);
 outline: none;
}

.index-academy-button p{
 margin-left: 0.4rem;
 margin-top: 0.4rem;
 margin-bottom: 0.4rem;
 margin-right: 0.4rem;
 color: rgb(255, 255, 255);
 font-weight: 500;
 font-family:  Montserrat;
 font-size: 13px;
}

.index-academy-button img{
 margin-left: 0.3rem;
 margin-right: 0.4rem;
 color: rgba(255, 255, 255, 1);
 width: 14%;
}


.index-part-6{
 font-family: Montserrat;
 background-color: rgba(255, 255, 255, 1);
 padding-top: 2rem;
 padding-bottom: 6rem;
}

.part-6-inner{
 width: 75%;
 margin-left: 12.5%;
 display: grid;
 grid-template-columns: repeat(20, 1fr);
}


.index-taxi-info, .index-taxi-image{
  grid-row: 1 / 2;
}

.index-taxi-header p{
 color: rgb(95, 95, 95);
 font-weight: 600;
 margin-bottom: 1rem;
}


.index-taxi-title p{
  font-size: 19px;
  font-family: Montserrat;
 font-weight: 700;
 margin-bottom: 1rem;
}


.index-taxi-info{
  padding-top: 3rem;
grid-column: 1 / 10;
width:100%; 
}

.index-taxi-text{
margin-bottom: 1rem;
width:100%;
}

.index-taxi-text p{
font-size: 10px;
line-height: 19px;
font-family: Montserrat;
font-weight: 400;
color: rgba(6, 13, 13, 1);
}

.index-taxi-button button{
background-color: rgba(6, 13, 13, 1);
display: flex;
justify-content: space-between;
color: rgba(255, 255, 255, 1);
align-items: center;
border: none;
outline: none;
}

.index-taxi-button p{
margin-left: 0.9rem;
margin-top: 0.5rem;
margin-bottom: 0.5rem;
font-family:  Montserrat;
font-size: 12px;
font-weight: 700;
}

.index-taxi-button i{
margin-left: 0.5rem;
margin-right: 0.9rem;
}
 
.index-taxi-image{
  grid-column: 11 / 21;
margin-top: 2rem;
margin-left: 4%;
}


.index-taxi-image img{
width:100%;
}


.part-7-inner{
 background-color: rgb(248, 244, 244);
}

.index-event-header{
 text-align: center;
 margin-bottom: 2rem;
 padding-top: 3rem;
}
.index-event-header p{
  font-family: Montserrat;
  font-weight: 700;
  font-size: 19px;
}

.index-event-carousel-inner{
 width: 87%;
 margin-left: 6.5%;
 margin-right: 6.5%;
 padding-bottom: 2rem;
 margin-bottom: 2rem;
 
}

#index-event-carousel-indicators button{
background-color: black;
width: 5px;
height:5px;
border-radius: 50%;
}

.index-event-carousel-item{
padding-top: 2rem;
display: flex;
justify-content: space-around;
margin-bottom: 2rem;
width: 90%;
margin-left: 5%;
}

.index-event-carousel-item img{
width: 30%!important;
margin-bottom: 3rem;
}

.event-1{
  width: 30%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.event-1-backrgound, .event-1-logo{
  grid-row: 1 / 2;
}

.event-1-backrgound {
  grid-column: 1 / 6;
}

.event-1-logo{
  padding-left: 10%!important;
  margin-right: 0!important;
  padding-top: 27%;
  grid-column: 1 / 6;
}

.event-1-backrgound img{
  width:100%!important;
}

.event-1-logo img{
  
  width: 80%!important;
}


.index-part-8{
 background-color: rgba(252, 252, 253, 0.048);
}

.part-8-inner{
 width: 75%;
 margin-left: 12.5%;
}

.index-partners-header{
 color:rgba(255, 255, 255, 1);
 text-align: center;
 font-family: Montserrat;
 font-weight: 700;
 padding-top: 4rem;
 font-size: 24px;
 padding-bottom: 2rem;
}

.index-partners-header p{
  font-family: Montserrat;
 font-weight: 700;
 font-size: 17px;
}

.index-partners-logo{
 display: flex;
 justify-content: space-between;
padding-bottom: 4rem;
}

.index-partners-logo img{
width: 75%;
}


/* About Us */


.home-page-header {
  background-color:rgba(250, 250, 250, 0.87);
  padding-bottom: 0.5rem;
  text-align: center;
}

.home-page-header-title{
padding-top: 1.5rem;
color:rgba(6, 13, 13, 1);
font-weight: 700;
font-family:Montserrat;
}

.home-page-header-title p{
  font-size: 18px;
}

.home-part-1{
  font-family: Monsserat;
  background-color: rgba(255, 255, 255, 1);
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.home-part-1-middle{
  width: 75%;
  margin-left: 12.5%;
}

.home-part-1-inner{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
}

.home-about-us-info, .home-about-us-video{
  grid-row: 1 / 2;
}


.home-about-us-title p{
  padding-top: 3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-size: 22px;
  font-family: Montserrat;
  color: rgba(6, 13, 13, 1);
}


.home-about-us-info{
  padding-top: 2rem;
grid-column: 1 / 15; 
}



.home-about-us-text{
font-family: Montserrat;
margin-bottom: 2rem;
width:100%;
font-size: 10px;
line-height: 18px;
font-weight: 400;
color: rgba(6, 13, 13, 1);
}

.home-about-us-textp{
  font-family: Montserrat;
}

.home-about-us-video{
  padding-top: 1rem;
  grid-column: 16/ 31;
  width: 100%;
}


.home-about-us-video embed{
  width: 500px;
  height: 311px;
}


.about-page-part-2{
  background-color: rgba(250, 250, 250, 0.856);
}

.about-page-part-2-middle{
width: 75%;
margin-left: 12.5%;
}

.about-page-part-2-inner{
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.about-page-events{
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  
}

.about-page-events-picture, .about-page-events-text{
  grid-row: 1 / 2;
}

.about-page-events-picture {
  padding-top: 3rem;
  grid-column: 1 / 15;
}

.about-page-events-picture img{
  width: 100%;
}

.about-page-events-text{
  padding-top: 4rem;
  grid-column: 16 / 31;
  width: 100%;
}

.about-page-company-name p{
font-size: 15px;
font-family: Montserrat;
font-weight: 700;
color:rgba(6, 13, 13, 0.5);
margin-bottom: 0.5rem;
}

.about-page-events-title p{
  font-size: 23px;
  font-family: Montserrat;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: rgba(6, 13, 13, 1);
}


.about-page-events-info p{
  font-size: 10px;
  font-family: Montserrat;
  line-height: 16px;
  color: rgba(6, 13, 13, 1);
  
}


.about-page-part-3{
  background-color: rgba(255, 255, 255, 1);
}

.about-page-part-3-middle{
  width: 75%;
  margin-left: 12.5%;
}

.about-page-part-3-inner{
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.about-vehicle-renewals{
  display: grid;
  grid-template-columns: repeat(30, 1fr);
}

.about-vehicle-renewal-info, .about-vehicle-renewal-image{
  grid-row: 1 / 2;
}

.about-vehicle-renewal-info{
  padding-top: 2rem;
  grid-column: 1 / 15;
}

.about-vehicle-renewal-image{
  grid-column: 16 / 31;
}

.about-vehicle-renewal-image img{
width:100%;
}

.about-vehicle-renewal-title p{
 font-family: Montserrat;
 font-weight: 700;
 font-size: 23px;
 color: rgba(6, 13, 13, 1);
}

.about-vehicle-renewal-text p{
font-family: Montserrat;
font-size: 10px;
line-height: 16px;
}

.about-news-body{
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-left: 10%;
}



.about-news-part-2{
  background-color: rgba(250, 250, 250, 0.856);
 }
 
 .about-news-part-2-middle{
   width: 75%;
   margin-left: 12.5%;
 }
 
 .about-news-part-2-inner{
  width: 100%;
  padding-top: 3rem;
 }
 
 .about-news-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
 }
 
 .about-news-header-title p{ 
 font-size: 18px;
 font-weight: 700;
 font-family: Montserrat;
 }
 
 .news-see-all-button button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.5px solid;
  background-color: rgba(250, 250, 250, 0);
  border-color: rgba(36, 160, 237, 0.5);
  outline: none;
 }
 
 .news-see-all-button p{
  margin-left: 0.4rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 0.4rem;
  color: rgb(36, 160, 237);
  font-weight: 700;
  font-family:  Montserrat;
  font-size: 12px;
 }
 
 .news-see-all-button img{
  margin-left: 0.3rem;
  margin-right: 0.4rem;
  width: 17%;
 }
 
 
 .about-news-body{
 width: 100%;
 display: flex;
 justify-content: space-between;
 margin-left: 0;
 background-color: rgba(250, 250, 250, 0);
 }
 
 
 .about-news-body-article{
  width: 23%;
  margin-bottom: 3rem;
  box-shadow: 0px 8px 8px 0px rgba(6, 13, 13, 0.08);
 }
 
 
 .about-news-body-article img{
 width: 100%;
 }
 
 .about-news-text{
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  font-family: TBC Contractica;
  background-color: rgba(255, 255, 255, 1);
 }
 
 .about-news-date p{
 color: rgba(6, 13, 13, 0.5);
 font-family: Montserrat;
 font-weight: bold;
 }
 
 .about-news-text h6{
   font-family: Montserrat;
   font-size: 12px!important;
  font-weight: 700;
  margin-bottom: 1rem;
  color:rgba(6, 13, 13, 0.753);
 
 }
 
 .about-news-text p{
  font-size: 9px;
  color:rgba(6, 13, 13, 0.753);
 }
 
 .about-read-more{
  display: flex;
  align-items: center;
  color: rgba(36, 160, 237, 0.699);
  padding-bottom: 0.5rem;
 }
 
 .about-read-more h5{
   font-size: 11px!important;
  margin-right: 0.5rem;
  font-weight: 700!important;
  font-family: Montserrat;
 }
 
 .about-read-more img{
   width: 7%;
   padding-bottom: 0.6rem;
 }
 



/* ACADEMY */

.academy-page-header{
  background-color: rgba(16, 22, 22, 1);
  text-align: center;
}

.academy-page-header-title p{
 font-size: 24px;
 font-family: Montserrat;
 font-weight: 700;
 color: rgba(255, 255, 255, 1);
 margin: 0;
 padding: 0;
}

.academy-page-header-inner{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.academy-part-1{
  background-color: rgba(6, 13, 13, 1);
}

.academy-part-1-middle{
width: 75%;
margin-left: 12.5%;

}

.academy-part-1-inner{
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.academy-page-info{
  display: grid;
  grid-template-columns: repeat(30, 1fr);
}

.academy-page-info, .academy-text-section{
  grid-row: 1 / 2;
}

.academy-text-section{
  padding-top: 3rem;
  grid-column: 16 / 31;
}

.academy-title p{
font-family: Montserrat;
font-size: 20px;
font-weight: 700;
color:rgba(255, 255, 255, 1);
}

.academy-text p{
  font-family:Montserrat;
  font-size: 10px;
  color:rgba(255, 255, 255, 0.699);
}

.academy-part-2{
  background-color: rgba(16, 22, 22, 1);
}

.academy-part-2-middle{
  width: 75%;
  margin-left: 12.5%;
}

.academy-part-2-inner{
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.academy-anything-else{
  display: grid;
  grid-template-columns: repeat(30, 1fr);
}

.academy-anything-else-info, .anything-else-image{
  grid-row: 1 / 2;
}

.academy-anything-else-info{
  padding-top: 3rem;
  grid-column: 1 / 15;
}

.anything-else-image{
  grid-column: 16 / 31;
}

.anything-else-image img{
  width: 100%;
}

.anything-else-title p{
font-size: 20px;
font-weight: 700;
font-family: Montserrat;
color: rgba(252, 252, 253, 1);
}

.anyghing-else-text p{
font-size: 10px;
font-family: Montserrat;
color: rgba(252, 252, 253, 0.699);
}


.academy-part-3{
  background-color: rgba(6, 13, 13, 1);
}


.academy-part-3-inner{
  width: 80%;
  margin-left: 10%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.academy-anything-else-2{
  display: grid;
  grid-template-columns: repeat(30, 1fr);
}

.academy-anything-else-2-info, .anything-else-2-image{
  grid-row: 1 / 2;
}

.academy-anything-else-2-info{
  padding-top: 3rem;
  grid-column: 16 / 31;
}

.anything-else-2-image{
  grid-column: 1 / 15;
}

.anything-else-2-image img{
  width: 100%;
}

.anything-else-2-title p{
font-size: 20px;
font-weight: 700;
font-family: Montserrat;
color: rgba(252, 252, 253, 1);
}

.anyghing-else-2-text p{
font-size: 10px;
font-family: Montserrat;
color: rgba(252, 252, 253, 0.699);
}




/* Fleet */

.car-fleet-middle{
  width:100%;
}

.car-fleet-inner{
  width:100%;
  background-color: rgba(255, 255, 255, 0.897);
  color:#000000;
}

.car-fleet-title-inner{
  text-align: center;
  font-family: Montserrat;
  padding-top: 2rem;
}

.car-fleet-title-inner{
  font-family: Montserrat;
  font-weight: 700;
  font-size: 24px;
}

.car-fleet-logo-list-line{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.Nissan-logo, .Toyota-logo, .Kia-logo{
margin-left: 1.7rem;
}

.fleet-type-list{
  width: 75%;
  margin-left: 12.5%;
  text-align: center;
  font-family: Montserrat;
  display: flex;
  justify-content: space-around;
}

.fleet-line p{
 font-size: 9px!important;
 padding-top: 3px;
 color: rgba(0, 0, 0, 0.75);
}

/* .fleet-type-list p{
  font-family: Montserrat;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.75);
  font-weight: 500;
}


.all:hover p, .suv:hover p, .sedan:hover p, .minivan:hover p, .minibus:hover p, .bus:hover p, .coupe:hover p {
  color: rgb(36, 160, 237);
  cursor: pointer;
  font-weight: 600;
}

.car-fleet-line{
  width:76%;
  margin-left: 12%;
  color: rgba(0, 0, 0, 0.75);
}

.car-fleet-line hr{
  margin-top: 0;
  height: 2px;
  margin-bottom: 0;
  color: rgb(0, 0, 0);
}

.car-fleet-vehicles-inner{
  width:80%;
  margin-left: 10%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}


.car-fleet-vehicles-inner h5{
  font-family: Montserrat;
  font-weight: 600!important;
}

.car-fleet-vehicles-row1-inner{
  display: grid;
  grid-template-columns: repeat(40, 1fr);
}


.car-fleet-row1-car1, .car-fleet-row1-car2, .car-fleet-row1-car3{
  grid-row: 1 / 2;
  text-align: center;
  background-color:rgba(255, 255, 255, 1) ;
  padding-top: 3rem;
  box-shadow:  0px 8px 16px 0px rgba(0, 0, 0, 0.164);
}


.car-fleet-row1-car1 p, .car-fleet-row1-car2 p, .car-fleet-row1-car3 p{
  font-family: Montserrat;
}

.car-fleet-row1-car1 img, .car-fleet-row1-car2 img, .car-fleet-row1-car3 img{
  width: 75%;
}

.car-fleet-row1-car1:hover, .car-fleet-row1-car2:hover, .car-fleet-row1-car3:hover{
  
  cursor: pointer;
}

.car-fleet-row1-car1{
  grid-column: 2 / 14;
}

.car-fleet-row1-car2{
  grid-column: 15 / 27;
}

.car-fleet-row1-car3{
  grid-column: 28 / 40;
}

.car-fleet-vehicles-row2-inner{
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  padding-top: 2rem;
}

.car-fleet-row2-car1, .car-fleet-row2-car2, .car-fleet-row2-car3{
  grid-row: 1 / 2;
  text-align: center;
  background-color:rgba(255, 255, 255, 1) ;
  padding-top: 3rem;
  box-shadow:  0px 8px 16px 0px rgba(0, 0, 0, 0.164);
}

.car-fleet-row2-car1 p, .car-fleet-row2-car2 p, .car-fleet-row2-car3 p{
  font-family: Montserrat;
}

.car-fleet-row2-car1 img, .car-fleet-row2-car2 img, .car-fleet-row2-car3 img{
  width: 75%;
}

.car-fleet-row2-car1:hover, .car-fleet-row2-car2:hover, .car-fleet-row2-car3:hover{
  
  cursor: pointer;
}

.car-fleet-row2-car1{
  grid-column: 2 / 14;
}

.car-fleet-row2-car2{
  grid-column: 15 / 27;
}

.car-fleet-row2-car3{
  grid-column: 28 / 40;
}



.car-fleet-vehicles-row3-inner{
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  padding-top: 2rem;
}


.car-fleet-row3-car1, .car-fleet-row3-car2, .car-fleet-row3-car3{
  grid-row: 1 / 2;
  text-align: center;
  background-color:rgba(255, 255, 255, 1) ;
  padding-top: 3rem;
  box-shadow:  0px 8px 16px 0px rgba(0, 0, 0, 0.164);
}

.car-fleet-row3-car1 p, .car-fleet-row3-car2 p, .car-fleet-row3-car3 p{
  font-family: Montserrat;
}

.car-fleet-row3-car1 img, .car-fleet-row3-car2 img, .car-fleet-row3-car3 img{
  width: 75%;
}

.car-fleet-row3-car1:hover, .car-fleet-row3-car2:hover, .car-fleet-row3-car3:hover{
  
  cursor: pointer;
}

.car-fleet-row3-car1{
  grid-column: 2 / 14;
}

.car-fleet-row3-car2{
  grid-column: 15 / 27;
}

.car-fleet-row3-car3{
  grid-column: 28 / 40;
}

.car-fleet-row1-car2 img,  .car-fleet-row2-car2 img,  .car-fleet-row3-car2 img{
  width:65%;
}

.fleet-vehicle-type p{
  margin-bottom: 0;
  font-size: 11px;
  color: rgba(6, 13, 13, 0.76);
  font-weight: 600;
}

.car-fleet-name p{
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
}

.car-fleet-vehicle-type p{
  font-size: 11px;
  color: rgb(0, 0, 0);
}

.car-fleet-class{
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.car-fleet-class p{
  margin-bottom: 0;
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 700;
}

.fleet-vehicle-specs{
  display: grid;
  grid-template-columns: repeat(22, 1fr);
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.vehicle-specs-line1, .vehicle-specs-line2{
  grid-row:  1/ 2;
}  

.vehicle-specs-line-1 {
  display: flex;
  flex-direction: column;
  grid-column: 2 / 14;
}

.vehicle-specs-line-1 img{
  width: 16px;
  padding-bottom: 1rem;
  
}

.vehicle-specs-line-1 p{
  font-size: 11px;
  font-family: Montserrat;
  padding-left: 10px;
}

.vehicle-specs-line-2{
  display: flex;
  flex-direction: column;
  grid-column: 14/ 23;
}

.vehicle-specs-line-2 img{
  padding-bottom: 1rem;
  width: 16px;

}

.vehicle-specs-line-2 p{
  font-size: 11px;
  font-family: Montserrat;
  padding-left: 10px;
}


.car-spec-line{
  display: flex;
  justify-content: flex-start;
} */


.car-fleet-vehicles-inner{
  width:75%;
  margin-left: 12.5%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.fleet-element-1{
  background-color: rgba(255, 255, 255, 1);
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  padding-bottom: 2rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.164);
  margin-bottom: 2rem;
}

.fleet-element-2{
  background-color: rgba(255, 255, 255, 1);
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  padding-bottom: 2rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.164);
  margin-bottom: 2rem;
}

.fleet-element-3{
  background-color: rgba(255, 255, 255, 1);
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  padding-bottom: 2rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.164);
  margin-bottom: 2rem;
}

.fleet-element-info, .fleet-element-image{
grid-row: 1 / 2;
}

.fleet-element-info{
  grid-column: 3 / 15;
}

.element-info-header{
  display: flex;
  padding-top: 2rem;
}

.element-info-header img{
  width: 24px;
  height: 23px;
  margin-top: 0.4rem;
}

.element-info-header p{
 font-size: 26px;
 font-weight: 700;
 font-family: Montserrat;
 padding-right: 1rem;
 margin-bottom: 0;
}

.element-info-tags{
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.element-info-tags p{
 color: #00adef;
 background-color: rgba(36, 160, 237, 0.103);
 padding-top: 0.05rem;
 padding-left: 0.5rem;
 padding-right: 0.5rem;
 padding-bottom: 0.05rem;
}

.element-info-text p{
  font-size: 13px;
  font-family: Montserrat;
  color: rgba(6, 13, 13, 0.76);
  padding-bottom: 1rem;
  line-height: 17px;
}


.element-info-button button{
  display: flex;
  background-color: rgba(6, 13, 13, 1);
  width: 45%;
  justify-content: center;
  border: none;
  outline: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.element-info-button p{
  color: rgb(255, 255, 255);
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 0;
 padding-right: 1rem;
}

.element-info-button img{
  padding-top: 0.1rem;
}

.element-info-button a{
  text-decoration: none;
}

.fleet-element-image{
  padding-top: 7rem;
  grid-column: 17 / 31;
}








/* contact page */

.contact-page{
width:100%;
}

.contact-page img{
  width:100%;
}



.contact-backgorund img{
width: 100%;

}





.contact-elements{
  width:100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.contact-elements img{
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
}

.contact-header{
  width:300px;
  padding-bottom: 10px;
}

.contact-header p{
  font-size: 25px;
  font-weight: 700;
  font-family: Montserrat;
}

.location{
  width: 15%;
  position: relative;
  top:15%;
  left:15%;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
}

.location-name, .location-mail, .location-phone{
  display:flex;
  font-size: 13px;
}

.location-name i, .location-mail i, .location-phone i{
  padding-right: 3px;
  color: rgba(255, 255, 255, 1);
}

.location p{
  color:white;
  font-family: Montserrat;
}


.contact-window{
  background-color:rgba(255, 255, 255, 1);
  height: 91%;
  width: 70%;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
}


.contact-window-header{
  margin-bottom: 2.5rem;
}


.contact-inputs{
  padding-top: 1rem;
}

.contact-window-header p{
  padding-top: 1rem;
  padding-left: 9%;
  font-size: 150%;
}


.input-name, .input-email, .input-number{
  display: flex;
  margin-bottom: 4.5%;
}


.input-message {
  margin-bottom: 4%;
}


.input-name p{
  margin-left: 7.5%;
  padding-top: 0.5rem;
  font-family: BPG Mrgvlovani;
  opacity: 0.8;
}

 .input-email input, .input-number input, .input-message input, .input-name input {
  width: 85%;
  margin-left: 7.5%;
  padding-top: 1rem;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  font-family: BPG Mrgvlovani;
  border-bottom: 1px solid;
}

.input-email i, .input-number i, .input-message i, .input-name i{
  position: absolute;
  padding-top: 1.3rem;
  padding-left: 1%;

}

.input-message{
  padding-bottom: 13%;
}


.input-send-button{
  position: relative;
  left:60%;
  bottom: 5%;
  width:40%;
}

.input-send-button button{
  display: flex;
  justify-content: center;
  width:100%;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(6, 13, 13, 1);
}

.input-send-button p{
  font-family: BPG Mrgvlovani;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-right: 1rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  font-size: 100%;
}

.input-send-button i{
  padding-bottom: 0;
  margin-bottom: 0;
  padding-top: 0.7rem;
  padding-bottom: 0.4rem;
}


/* Car-Rent */


.car-rent-inner{
  background-color: rgba(255, 255, 255, 0.897);
  color:#000000;
  width:100%;
}

.car-rent-title-inner{
  text-align: center;
  font-family: Montserrat;
  padding-top: 2rem;
}

.car-rent-title-inner{
  font-family: Montserrat;
  font-weight: 700;
  font-size: 24px;
}


.car-rent-logo-list-line{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.Nissan-logo, .Toyota-logo, .Kia-logo{
margin-left: 1.7rem;
}

.rent-type-list{
  width: 75%;
  margin-left: 12.5%;
  text-align: center;
  font-family: Montserrat;
  display: flex;
  justify-content: space-around;
}


.rent-all:hover p, .rent-suv:hover p, .rent-sedan:hover p, .rent-minivan:hover p, .rent-minibus:hover p, .rent-bus:hover p, .rent-coupe:hover p{
  color: rgba(252, 252, 253, 1);
  cursor: pointer;
  font-weight: 600;
} 

.rent-type-list p{
  font-size: 12px;
}


.rent-line p{
 color: rgba(252, 252, 253, 0,75);
 font-size: 9px!important;
 padding-top: 3px;
}

.car-rent-line{
  width:75%;
  margin-left: 12.5%;
}

.car-rent-line hr{
  margin-top: 0;
  margin-bottom: 0;
}

.car-rent-vehicles-inner{
  width:80%;
  margin-left: 10%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}


.car-rent-vehicles-inner h5{
  font-family: Montserrat;
  font-weight: 600!important;
}

.car-rent-vehicles-row1-inner{
  display: grid;
  grid-template-columns: repeat(40, 1fr);
}


.car-rent-row1-car1, .car-rent-row1-car2, .car-rent-row1-car3{
  grid-row: 1 / 2;
  text-align: center;
  background-color:rgba(255, 255, 255, 1) ;
  padding-top: 3rem;
  box-shadow:  0px 8px 16px 0px rgba(0, 0, 0, 0.164);
}


.car-rent-row1-car1 p, .car-rent-row1-car2 p, .car-rent-row1-car3 p{
  font-family: Montserrat;
}

.car-rent-row1-car1 img, .car-rent-row1-car2 img, .car-rent-row1-car3 img{
  width: 75%;
}

.car-rent-row1-car1:hover, .car-rent-row1-car2:hover, .car-rent-row1-car3:hover{
  
  cursor: pointer;
}

.car-rent-row1-car1{
  grid-column: 2 / 14;
}

.car-rent-row1-car2{
  grid-column: 15 / 27;
}

.car-rent-row1-car3{
  grid-column: 28 / 40;
}

.car-rent-vehicles-row2-inner{
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  padding-top: 2rem;
}

.car-rent-row2-car1, .car-rent-row2-car2, .car-rent-row2-car3{
  grid-row: 1 / 2;
  text-align: center;
  background-color:rgba(255, 255, 255, 1) ;
  padding-top: 3rem;
  box-shadow:  0px 8px 16px 0px rgba(0, 0, 0, 0.164);
}

.car-rent-row2-car1 p, .car-rent-row2-car2 p, .car-rent-row2-car3 p{
  font-family: Montserrat;
}

.car-rent-row2-car1 img, .car-rent-row2-car2 img, .car-rent-row2-car3 img{
  width: 75%;
}

.car-rent-row2-car1:hover, .car-rent-row2-car2:hover, .car-rent-row2-car3:hover{
  
  cursor: pointer;
}

.car-rent-row2-car1{
  grid-column: 2 / 14;
}

.car-rent-row2-car2{
  grid-column: 15 / 27;
}

.car-rent-row2-car3{
  grid-column: 28 / 40;
}



.car-rent-vehicles-row3-inner{
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  padding-top: 2rem;
}


.car-rent-row3-car1, .car-rent-row3-car2, .car-rent-row3-car3{
  grid-row: 1 / 2;
  text-align: center;
  background-color:rgba(255, 255, 255, 1) ;
  padding-top: 3rem;
  box-shadow:  0px 8px 16px 0px rgba(0, 0, 0, 0.164);
}

.car-rent-row3-car1 p, .car-rent-row3-car2 p, .car-rent-row3-car3 p{
  font-family: Montserrat;
}

.car-rent-row3-car1 img, .car-rent-row3-car2 img, .car-rent-row3-car3 img{
  width: 75%;
}

.car-rent-row3-car1:hover, .car-rent-row3-car2:hover, .car-rent-row3-car3:hover{
  
  cursor: pointer;
}

.car-rent-row3-car1{
  grid-column: 2 / 14;
}

.car-rent-row3-car2{
  grid-column: 15 / 27;
}

.car-rent-row3-car3{
  grid-column: 28 / 40;
}

.car-rent-row1-car2 img,  .car-rent-row2-car2 img,  .car-rent-row3-car2 img{
  width:65%;
}

.rent-vehicle-type p{
  margin-bottom: 0;
  font-size: 11px;
  color: rgba(6, 13, 13, 0.76);
  font-weight: 600;
}

.car-rent-name p{
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
}

.car-rent-vehicle-type p{
  font-size: 11px;
  color: rgb(0, 0, 0);
}

.car-rent-class{
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.car-rent-class p{
  margin-bottom: 0;
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 700;
}

.rent-vehicle-specs{
  display: grid;
  grid-template-columns: repeat(22, 1fr);
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.vehicle-specs-line1, .vehicle-specs-line2{
  grid-row:  1/ 2;
}  

.vehicle-specs-line-1 {
  display: flex;
  flex-direction: column;
  grid-column: 2 / 14;
}

.vehicle-specs-line-1 img{
  width: 16px;
  padding-bottom: 1rem;
  
}

.vehicle-specs-line-1 p{
  font-size: 11px;
  font-family: Montserrat;
  padding-left: 10px;
}

.vehicle-specs-line-2{
  display: flex;
  flex-direction: column;
  grid-column: 14/ 23;
}

.vehicle-specs-line-2 img{
  padding-bottom: 1rem;
  width: 16px;

}

.vehicle-specs-line-2 p{
  font-size: 11px;
  font-family: Montserrat;
  padding-left: 10px;
}


.car-spec-line{
  display: flex;
  justify-content: flex-start;
}


/* newsroom */

.newsroom-middle{
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.newsroom-inner{
  width: 75%;
  margin-left: 14%;
  background-color: rgb(255, 255, 255);
  padding-top: 1rem;
}

.newsroom-header{
  text-align: center;
  font-family: Montserrat;
}

.newsroom-header p {
  font-family: Montserrat;
  font-size: 23px;
  font-weight: 700;
  padding-bottom: 1.5rem;
}


.newsroom-line-1, .newsroom-line-2, .newsroom-line-3, .newsroom-line-4{
  width:100%;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
}

.newsroom-line-1 a, .newsroom-line-2 a, .newsroom-line-3 a, .newsroom-line-4 a{
  text-decoration: none;
}

.newsroom-line-1-article-1, .newsroom-line-1-article-2, .newsroom-line-1-article-3, .newsroom-line-1-article-4{
  grid-row: 1 / 2;
  width: 90%;
}

.newsroom-line-1-article-1{
  grid-column: 1 / 6;
   margin-bottom: 3rem;
   box-shadow: 0px 8px 8px 0px rgba(6, 13, 13, 0.08);
  }


.newsroom-line-1-article-2{
 grid-column: 6 / 11;
 margin-bottom: 3rem;
 box-shadow: 0px 8px 8px 0px rgba(6, 13, 13, 0.08);
  }

.newsroom-line-1-article-3{
grid-column: 11 / 16;
 margin-bottom: 3rem;
 box-shadow: 0px 8px 8px 0px rgba(6, 13, 13, 0.08);
    }


.newsroom-line-1-article-4{
 grid-column: 16 / 21;
 margin-bottom: 3rem;
 box-shadow: 0px 8px 8px 0px rgba(6, 13, 13, 0.08);
 }


 .newsroom-line-2-article-1, .newsroom-line-2-article-2, .newsroom-line-2-article-3, .newsroom-line-2-article-4{
  grid-row: 1 / 2;
  width: 90%;
}

.newsroom-line-2-article-1{
  grid-column: 1 / 6;
   margin-bottom: 3rem;
   box-shadow: 0px 8px 8px 0px rgba(6, 13, 13, 0.08);
  }


.newsroom-line-2-article-2{
 grid-column: 6 / 11;
 margin-bottom: 3rem;
 box-shadow: 0px 8px 8px 0px rgba(6, 13, 13, 0.08);
  }

.newsroom-line-2-article-3{
grid-column: 11 / 16;
 margin-bottom: 3rem;
 box-shadow: 0px 8px 8px 0px rgba(6, 13, 13, 0.08);
    }


.newsroom-line-2-article-4{
 grid-column: 16 / 21;
 margin-bottom: 3rem;
 box-shadow: 0px 8px 8px 0px rgba(6, 13, 13, 0.08);
 }


 .newsroom-line-3-article-1, .newsroom-line-3-article-2, .newsroom-line-3-article-3, .newsroom-line-3-article-4{
  grid-row: 1 / 2;
  width: 90%;
}

.newsroom-line-3-article-1{
  grid-column: 1 / 6;
   margin-bottom: 3rem;
   box-shadow: 0px 8px 8px 0px rgba(6, 13, 13, 0.08);
  }


.newsroom-line-3-article-2{
 grid-column: 6 / 11;
 margin-bottom: 3rem;
 box-shadow: 0px 8px 8px 0px rgba(6, 13, 13, 0.08);
  }

.newsroom-line-3-article-3{
grid-column: 11 / 16;
 margin-bottom: 3rem;
 box-shadow: 0px 8px 8px 0px rgba(6, 13, 13, 0.08);
    }


.newsroom-line-3-article-4{
 grid-column: 16 / 21;
 margin-bottom: 3rem;
 box-shadow: 0px 8px 8px 0px rgba(6, 13, 13, 0.08);
 }


 .newsroom-line-4-article-1, .newsroom-line-4-article-2, .newsroom-line-4-article-3, .newsroom-line-4-article-4{
  grid-row: 1 / 2;
  width: 90%;
}

.newsroom-line-4-article-1{
  grid-column: 1 / 6;
   margin-bottom: 3rem;
   box-shadow: 0px 8px 8px 0px rgba(6, 13, 13, 0.08);
  }


.newsroom-line-4-article-2{
 grid-column: 6 / 11;
 margin-bottom: 3rem;
 box-shadow: 0px 8px 8px 0px rgba(6, 13, 13, 0.08);
  }

.newsroom-line-4-article-3{
grid-column: 11 / 16;
 margin-bottom: 3rem;
 box-shadow: 0px 8px 8px 0px rgba(6, 13, 13, 0.08);
    }


.newsroom-line-4-article-4{
 grid-column: 16 / 21;
 margin-bottom: 3rem;
 box-shadow: 0px 8px 8px 0px rgba(6, 13, 13, 0.08);
 }
  
  
  .newsroom-article-image img{
  width: 100%;
  }
  
  .newsroom-article-text{
   padding-left: 0.9rem;
   padding-right: 0.9rem;
   font-family: TBC Contractica;
   background-color: rgba(255, 255, 255, 1);
  }
  
  .newsroom-article-date p{
  color: rgba(6, 13, 13, 0.5)!important;
  font-family: Montserrat;
  font-weight: bold;
  padding-top: 0.4rem;
  margin-bottom: 0.4rem;
  }
  
  .newsroom-article-text h6{
    font-family: Montserrat;
    font-size: 13px!important;
   font-weight: 700;
   margin-bottom: 0.5rem;
   color:rgba(6, 13, 13, 0.801);
  
  }
  
  .newsroom-article-text p{
   font-size: 9px;
   color:rgba(6, 13, 13, 0.753);
   line-height: 13px;
  }
  
  .newsroom-article-more{
   display: flex;
   align-items: center;
   color: rgba(36, 160, 237, 0.699);
   padding-bottom: 0.5rem;
  }
  
  .newsroom-article-more h5{
    font-size: 11px!important;
   margin-right: 0.5rem;
   font-weight: 700!important;
   font-family: Montserrat;
  }
  
  .newsroom-article-more img{
    width: 7%;
    padding-bottom: 0.6rem;
  }

/* article */

.article-outer{
  background-color: rgb(255, 255, 255);
}

.article-middle{
  width: 75%;
  margin-left: 12.5%;
  padding-bottom: 1.5rem;
}

.article-inner{
  display: grid;
  grid-template-columns: repeat(40, 1fr);
}

.article-body, .other-articles{
  grid-row: 1 / 2;
}

.article-body{
  grid-column: 2 / 31;
}

.article-body img{
  width: 100%;
}

.article-date p{
  padding-top: 1.5rem;
font-size: 12px;
font-family: Montserrat;
color: rgba(6, 13, 13, 0.5);
font-weight: 600;
}

.article-title p{
  font-weight: 700;
  font-size: 23px;
  font-family: Montserrat;
  padding-bottom: 1rem;
  color: #000000;
}

.article-text-title p{
  padding-top: 1.5rem;
font-size: 23px;
font-weight: 700;
font-family: Montserrat;
color: #000000;
}

.article-text-body p{
 font-size: 12px;
 line-height: 22px;
 font-family: Montserrat;
 color: #000000;
}

.other-articles{
  grid-column: 32 / 41;
  padding-top: 9.5rem;
}

.other-article-1, .other-article-2, .other-article-3{
  padding-bottom: 2rem;
}

.other-articles-header p{
 font-family: Montserrat;
 font-weight: 700;
 font-size: 18px;
 color: #000000;
}

.other-article-image img{
  width: 100%;
  }
  
  .other-article-text{
   padding-left: 0.9rem;
   padding-right: 0.9rem;
   font-family: TBC Contractica;
   background-color: rgba(255, 255, 255, 1);
   box-shadow: 0px 8px 16px 0px rgba(6, 13, 13, 0.082);
  }
  
  
  .other-article-date p{
  color: rgba(6, 13, 13, 0.5)!important;
  font-family: Montserrat;
  font-weight: bold;
  padding-top: 0.4rem;
  margin-bottom: 0.4rem;
  }
  
  .other-article-text h6{
    font-family: Montserrat;
    font-size: 13px!important;
   font-weight: 700;
   margin-bottom: 0.5rem;
   color:rgba(6, 13, 13, 0.801);
  
  }
  
  .other-article-text p{
   font-size: 9px;
   color:rgba(6, 13, 13, 0.753);
   line-height: 13px;
  }
  
  .other-article-more{
   display: flex;
   align-items: center;
   color: rgba(36, 160, 237, 0.699);
   padding-bottom: 0.5rem;
  }
  
  .other-article-more h5{
    font-size: 11px!important;
   margin-right: 0.5rem;
   font-weight: 700!important;
   font-family: Montserrat;
  }
  
  .other-article-more img{
    width: 7%;
    padding-bottom: 0.6rem;
  }

/* specs -- S-class */


#carouselExampleIndicators-specs img{
  width: 100%;
}

.spec-carousel-buttons img{
 border-radius: 50%!important;
 width: 35%!important;
}

.spec-carousel-sliders button{
  border-radius: 50%!important;
  width: 5px!important;
  height: 5px!important;
}

.vehicle-spec-body-outer{
  background-color: rgb(255, 255, 255);
}

.vehicle-spec-body-middle{
  width: 72%;
  margin-left: 14%;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.vehicle-spec-body-info{
  background-color: rgba(238, 238, 238, 1);
  padding-bottom: 5rem;
}

.vehicle-spec-body-info-inner {
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  padding-bottom: 2rem;
}

.vehicle-spec-body-text, .vehicle-spec-body-image{
  grid-row:  1 / 2;
}

.vehicle-spec-body-text{
  grid-column: 2 / 19;
}

.vehicle-spec-body-title{
  margin-top: 2rem;
  display: flex;
}

.vehicle-spec-body-title p{
  font-weight: 700;
  font-size: 23px;
  font-family: Montserrat;
  color: #000000;
  margin-right: 0.6rem;
  margin-bottom: 0;
}

.vehicle-spec-body-title img{
  margin-top: 0.5rem;
  width: 18px;
  height: 17px;
}

.vehicle-spec-body-tags {
  display: flex;
  width: 50%;
  justify-content: space-around;
}


.vehicle-spec-body-info-text p{
  font-size: 12px;
  line-height: 18px;
  color: rgba(6, 13, 13, 0.753);
  font-family: Montserrat;
}

.vehicle-spec-body-tags p{
  color: #00adef;
  background-color: rgba(36, 160, 237, 0.103);
}

.vehicle-spec-body-image{
  grid-column: 22 / 40;
}

.vehicle-spec-body-image img{
  margin-top: 2rem;
  width: 100%;
}

.vehicle-spesific-specs{
  width: 95%;
  margin-left: 2.5%;
  box-shadow: 0px 16px 16px 0px rgba(6, 13, 13, 0.082);
}

.vehicle-spesific-specs-info{
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: space-between;
}

.vehicle-spesific-specs-info-text{
  display: flex;
  width: 50%;
  margin-left: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.vehicle-spesific-specs-info-text p{
  margin-bottom: 0;
  font-size: 11px;
  padding-left: 1rem;
}

.vehicle-spesific-specs-info-arrow img{
  margin-right: 0.5rem;
  padding-top: 0.5rem;
}


#spec-sheet{
  display: none;
}

#spec-sheet.display{
  display:flex;
    flex-direction: column;
}

.sheet-line-1, .sheet-line-2, .sheet-line-3, .sheet-line-4, .sheet-line-5, .sheet-line-6, .sheet-line-7, .sheet-line-8, .sheet-line-9{
  display: grid;
  grid-template-columns: repeat(40, 1fr);
}

.sheet-line-2, .sheet-line-4, .sheet-line-6, .sheet-line-8{
  background-color: rgba(255, 255, 255, 1);
}

.sheet-part-1, .sheet-part-2{
  grid-row: 1 / 2;
}

.sheet-part-1{
  grid-column: 2 / 12;
  font-weight: 700;
  font-family: Montserrat;
  color: #000000;
  padding-top: 1rem;
}

.sheet-part-2{
  grid-column: 15 / 41;
  font-size: 11px;
  font-family: Montserrat;
  color: #000000;
  padding-top: 1rem;
}

.book-button {
  padding-top: 3rem;
}

.book-button button{
  background-color: rgba(6, 13, 13, 1);
  border: none;
  outline: none;
  display: flex;
  color:rgba(255, 255, 255, 1);
  width:25%;
  margin-left: 37.2%;
  display: flex;
  justify-content: center;
}

.book-button p{
  margin-bottom: 0;
  margin-right: 1rem;
  font-size: 15px;
  font-weight: 700;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: Montserrat;
}

.book-button img{
  margin-top: 0.7rem;
}






/* brands-page */

.brands-outer{
  background-color: white;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.brande-middle{
 background-color: white;
}

.brands-inner{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.Brands-row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.filter-shops, .filter-fashion, .filter-kids, .filter-jewelry, .filter-cosmetics, .filter-sport, .filter-living, .filter-technology, .filter-hobby{
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.brands-logos img{
width: 100%;
height: 80px;
object-fit: contain;
box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 5%);
background-color: #fff;
padding: 10px;
margin-bottom: 20px;
border: 1px solid rgb(126 126 126 / 7%);

}