/* Javascript */

.reveal{
  position: relative;
  transform: translateY(40px);
  opacity: 0;
  transition:  all 0.8s ease;
}


.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}





/* master */
body {
  overflow-x: hidden;
  background-color: #060D0D;
}


.Language-select{
  width: 100%;
  position: absolute;
  left: 90%;
  text-align: right;
  bottom:3.5rem;
 display: flex;
  color: white;
}

.language-icon {
  width: 50px;
}

.language-icon img{
  border-radius: 50%;
  background-color: aliceblue;
  width: 20px;
  height: 20px;

}

.Language-select button{
  background-color: #060D0D!important;
  width: 30%;
  display: flex;
}

.Language-select{
  display: flex;
}


#langbtn{
  display: none;
}

#langbtn.display{
  display:flex;
}


.Ka, .En{
 width: 24px;
 margin-right: 0.8rem;
}

.Ka img, .En img{
  width: 20px;
}

.Ka a:hover, .En a:hover{
  background-color: #060D0D!important;
}

 .Ka a, .En a{
  padding: 0!important;
  padding-top:0;
}


/*  
.Ka a:hover, .En a:hover{
  color: white;
  transition: 0.5s;
} */

.navbar{
  list-style-type: none;
  top: 5px;
  padding-top: 15px;
  margin-top: 2rem;
  display: block;
  justify-content: flex-end;
  
}

#navibar{
  display: flex;
  list-style: none;
  padding: .5rem;
}

.navbar a{
  font-size: 16px;
  font-family: BPG Mrgvlovani;
  color: rgba(255, 255, 255, 1);
  padding: 5px;
  text-decoration: none;
}
.navbar a:hover{
  color:black;
  transition: 0.7s;
  background-color: white;
}

.navbar span{
  font-size: 13px;
  padding-top: 5px;
}

.nav-line p{
  padding-top: 0.3rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: rgba(255, 255, 255, 1);
  font-size: 9px;
}

.navbar button{
  padding: 0;
  background-color: black;
  outline: none;
  border: none;
}

.navbar i{
  color: white;
}
.contact{
  padding-right: 10px;
}

.search-i{
height: 30px;
cursor: pointer;
}

.search-i i:hover{
  color: black;
  transition: 0.7s;
}


.footer{
  padding-left: 2rem;
color: rgb(252, 252, 252);
left: 10%;
display: inline-flex;
width: 100%;
justify-content: space-between;
background-color: #212529;
}

.footer ul{
  list-style-type: none;
}

.contact-info-logo{
  margin-top: 0.5rem;
 margin-bottom: 1.3rem;
}

.contact-slogan{
  margin-bottom: 1.1rem;
  font-family: Montserrat;
  font-weight: 400;
}

.contact-site p{
  font-family: Montserrat;
  font-size: 16px;
}

.contact-slogan p{
  font-size: 18px;
}

.contact-text{
  margin-bottom: 1rem;
  border: rgba(255, 255, 255, 0.5) solid 2px;
  text-align: center;
  padding-top: 9px;
  cursor: pointer;
  outline: none;
}

.contact-text:hover{
  background-color: #b4b1b1;
  color: #060D0D;
  transition: 0.6s;
  border: #b4b1b1 solid 2px;
  
}

.contact-text a{
text-decoration: none;
color:rgba(255, 255, 255, 1);
font-family: BPG Mrgvlovani 2010;
}

.contact-text a:hover{
  color: #060D0D;
}


.our-social-meida{
  display: block;
}

.footer-social-icons{
  margin-left: 64%;
  color: #4b4a4a;
}

.social-icons1{
  display: flex;
  padding-left: 20px;
}


.social-icons1 i{
  padding-top: 1.5rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.social-icons2{
  display: flex;
  padding-left: 20px;
}

.social-icons2 i{
  padding-right: 2rem;
}

.footer-navbar{
  position:relative;
right: 5%;
bottom:4%;
color: rgb(109, 108, 108);
font-weight: 500;
}

.footer-navbar p{
  padding-bottom: 0;
  margin-bottom: 0;
  font-family: BPG Mrgvlovani 2010;
  font-size: 16px;
}


.footer-nav-inner{
  display: flex;
  margin-top: 3rem;
}

.footer-about{
  padding-left: 0.75rem;
  font-size: large;
  text-align: center;
  padding-right: 0.75rem;
  cursor: pointer;
}

.footer-vehicles, .footer-rent, .footer-taxi, .footer-events, .footer-partners, .footer-contact, .footer-motors{
  padding-left: 0.75rem;
  font-size: 18px;
  text-align: center;
  padding-right: 0.75rem;
  cursor: pointer;
}

.footer-about:hover, .footer-vehicles:hover, .footer-rent:hover, .footer-taxi:hover, .footer-events:hover, .footer-partners:hover, .footer-contact:hover{
 background-color: #b4b1b1;
 transition: 0.6s;
 color: black;
}

.footer-nav-line p{
  color: rgb(109, 108, 108);
  font-size: 11px;
  padding-top: 4px;
}

.bene_logo {
position: relative;
width: 80%;
left: 10px;
top: 1.2rem;

}

.navigation{
  top:20px;
  width: 98%;
  display: flex;
  justify-content: space-between;
}

.hamburger{
position:absolute;
top: 37px;
right: 5px;
display: none;
flex-direction: column;
justify-content: space-between;
width:30px;
height:21px;
cursor: pointer;
}

.hamburger .bar{
  width:100%;
  height: 3px;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 1325px){
  .footer-navbar p{
    font-size: 12px;
  }


}

@media (max-width: 1277px){
  #navibar a{
  font-size: 15px;
  }
  .footer-navbar {
    display: none;
  }

  .our-social-meida{
    margin-right: 25%;
  }

  .index-part2{
    width: 100%;
  }

.front-line-1{
 padding-top: 2%!important;
}

.index-part2-header-inner p{
  font-size: 70%;
}

.carousel-indicators{
  display: none;
}

/* .index-part2-images-inner{
  display: block!important;
}

.part2-image img{
  margin-left: 2.5rem;
  width: 50%!important;
}

.index-part2-info p{
  font-size: 70%;
}

.part2-image-header p{
  font-size: 70%!important;
}

.part2-image-info p{
  font-size: 70%!important;
} */

 
}

@media (max-width: 1225px) {
  header{
    margin-bottom: 19px;
  }

  

  .Language-select{
    left:0;
    margin-left: 0;
    position:relative;
    bottom: 6rem;
  }

  .Language-select button{
    width: 30%!important;
  }


  .Language-select img{
    width: 30%;
  }


  .language-icon img{
    width:20px;
    width:20px;
  }

 #langbtn.display{
   justify-content: flex-start;
 }
  

  .Ka, .En{
    width: 25px;
    padding-bottom: 0;
    margin-right: 1rem;
  }


  .Ka img, .En img{
    width: 20px;
    height: 20px;
    padding-bottom: 0;
  }
     
  .hamburger{
    display:flex;
  }

  .hamburger span:hover{
    cursor:pointer
  }

  .navbar{
    z-index: 15;
    transition: 0.5s;
    width: 100%;
  }
  

  #navibar {
    display:none;
    /* transition: 0.4s ease;
    width: 100%;
    text-align: center;
    background-color: #060D0D; */
  }

  #navibar.show{
    display:flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: #060D0D;
  }

  .navigation{
   flex-direction: column;
   align-items: center;
   right: 0;
   margin-right: 0;
   padding-bottom: 4px;
  }
   .navbar span{
     display: none;
   }

   .nav-line p{
     display: none;
   }

   .line-1-btn button{
     width: 30%;
   }


   


   .bene_logo{
     width: 130%!important;
     height: 130%!important;
   }

 .home, .about, .autopark, .rent, .academy, .events, .partners, .contact, .motors{
   padding-bottom: 10px;
 
 }
  
}


@media (max-width: 411px){
  .Language-select{
    display: block;
  }

  .language-icon img{
    width:20px;
    height:20px;
  }


  #langbtn.display{
    position: relative;
    display: block;
    padding-top: 0.8rem;
    right:2.3rem;
  }
  .Ka, .En{
width: 70%;
padding-bottom: 15%;
  }

  .Ka a, .En a{
    padding: 0!important;
  }

  .Ka img, .En img{
    width: 20px;
    padding: 0;
  }

  .front-line-1{
    margin-top: 0.7rem;
  }

  .line-1 img{
    width: 70%!important;
    padding-left: 1rem;

  }

  .line-1-btn button{
    width: 55%!important;
    padding: 2%!important;
  }

  .line-1-btn p{
    font-size: 65%!important;
    margin: 0;
    padding-bottom: 0;
  }

  .line-1-info p{
   font-size: x-small;
   margin-bottom: 0;
  }

  .line-1-info h3{
    font-size: small!important;
    margin-bottom: 0;
   }

   #land {
     padding: 0;
     margin-left: 2rem;
     width: 100%;
   }

   #cruiser img{
     margin-left: 1rem;
   }

   .carousel-indicators button{
    display: none!important;
    }   


    .index-part2-images-inner{
      display: block!important;
    }
    
    .part2-image img{
      margin-left: 3rem;
      width: 50%!important;
    }
    
    .index-part2-info p{
      font-size: 70%;
    }
    
    .part2-image-header p{
      font-size: 70%!important;
    }
    
    .part2-image-info p{
      padding-left: 0.7rem;
      font-size: 70%!important;
    }


    .index-part3-header-inner p{
      font-size: 1.5rem!important;
      padding-top: 0.5rem!important;
    }

    .index-part3-info p{
      font-size: 1rem!important;
    }

    .index-part3-images {
      padding-left: 0!important;
      padding-right: 0!important;
    }

    .index-part3-images img{
      padding-left: 1%!important;
      padding-right: 1%!important;
    }

    .index-part4-header-inner p{
      font-size: 65%!important;
    }
    
    .index-part4-info p{
      font-size: 75%!important;
    }

    .part4-image-info h5{
      padding-top: 2.5rem!important;
      font-size: 75%!important;
    }


    .part4-image-info2 p{
      padding-top: 0.5rem!important;
      font-size: 65%!important;
    }

    
    .footer{
      width: 100%!important;
      padding-left: 0;
    }

    .our-social-meida {
      position: absolute;
      right: 10%;
    }

    .footer-social-icons i{
      padding-right: 0.7rem;
      padding-left: 0.3rem;
    }

    .contact-text{
      width:50%;

    }

    /* fleet */
    .fleet-type-list{
      padding-left: 2%!important;
      padding-right: 2%!important;
    }

    .fleet-type-list p{
      font-size: 90%!important;
    }

    .fleet-line p{
      font-size: 80%!important;
    }

    .fleet-cars-inner{
      margin-left: 2%!important;
      padding-left: 0!important;
    }
    
    .fleet-cars-inner{
    justify-content: space-between;
    width: 95%!important;
    }

    .fleet-cars-col1 img{
      width: 95%!important;
    }

    .fleet-cars-col2 img {
      width: 87%!important;
    }

    .fleet-cars-col3 img {
      width: 90%!important;
    }

    .fleet-car-name h5{
      font-size: 80%!important;
    }

    .fleet-car-type h6{
      font-size: 80%!important;
    }
    
}



.inner-line-1{
background-color: blanchedalmond;
}




.front-line-1{
  display: flex;
  justify-content: space-between;
 position: absolute;
 top: 0;
 padding-top: 6.5%;
 padding-left: 5%;
}

.line-1 img{
  width: 85%;
}

.line-1-info{
  text-align: center;
}


.line-1-info h3{
 font-family: Montserrat;
 font-weight:600;

}

.line-1-info p{
  color: rgba(36, 160, 237, 1);
  font-weight: 500;
  font-family: Montserrat;
}

#land{
  padding-right: 4.5rem;
}

.line-1-btn button{
  background-color: #24A0ED;
  outline: none;
  border: none;
  padding-top: 9px;
  width: 30%;
  color: aliceblue;
  font-family: BPG Mrgvlovani 2010;
  font-size: large;
  font-weight: 500;
}

.line-1-btn p{
  color: aliceblue;
  font-family: BPG Mrgvlovani;
}

#arrow{
color: black;
}

.img-overlay{
position: absolute;
bottom: 5rem;
}


.ssearch-bar{
  width: 100%;
  background-color: #1a1a1a;
  padding: 10px;
  
}

.search-inner input{
  position: relative;
  left: 10%;
  width: 80%;
  border: none;
  outline: none;
  background-color: white;
  margin-top: 3rem;
}


.carousel-indicators [data-bs-target] {
  background-color:gray!important;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.img-overlay {
  position: absolute;
 bottom: 0rem;
}

.img-underlay {
  position:absolute;
  top:0rem;
}

.index-part2-header{
 margin-top: 5rem;
 margin-bottom: 3rem;
}

.index-part2-header-inner{
  text-align: center;
  font-family: BPG Mrgvlovani 2010;
  color:white;
  font-size: 40px;
}

.index-part2-info{
  text-align: center;
  font-family: BPG Mrgvlovani 2010;
  color:white;
  font-size: 25px;
}

.part2-image-header{
  padding-top: 1rem;
  text-align: center;
  padding-right: 1.2rem;
  font-size: 18px;
  font-weight: 600;
}

.part2-image-info{
  text-align: center;
  padding-right: 5rem;
  color: aliceblue;
  font-family: BPG Mrgvlovani 2010;
  padding-left: 1.8rem;
  font-size: 13px;
}

.index-part2-images-inner{
  display: flex;
  justify-content: center;
  margin-left: 15%;
  margin-right: 15%;
  padding-left: 1%;
  color: aliceblue;
  font-family: BPG Mrgvlovani 2010;
}

.part2-image img{
  width: 95%;
}


.index-part3{
  width: 100%;
 margin-top: 5rem;
 background-color: #212529;
}


 
 .index-part3-header-inner{
   margin-top: 5rem;
   text-align: center;
   font-family: Montserrat;
   color:white;
 }

 .index-part3-header-inner p{
   padding-top: 3rem;
   font-size: 50px;
 }
 
 .index-part3-info{
   text-align: center;
   font-family: Montserrat;
   color:white;
   font-size: 25px;
 }

 .index-part3-images{
   width: 100%;
   padding-left: 13%;
   padding-right: 13%;
 }


 .images-line1{
   margin-top: 2rem;
   display:flex;
   
 }

 .images-line1 img{
   width: 100%;
   padding-left: 1rem;
 }

 .images-line2{
  margin-top: 2rem;
  display:flex;
  
}

.images-line2 img{
  width: 100%;
  padding-left: 1rem;
  margin-bottom: 5rem;
}

.index-part4{
  width:100%;
  margin-top: 7rem;
  margin-bottom: 2rem;
  position: relative;
}


.index-part4-header-inner{
  text-align: center;
  color: aliceblue;
  font-family: Montserrat;
  margin-bottom: 1rem;
  font-size: 50px;
}

.index-part4-info{
  text-align: center;
  color: aliceblue;
  font-family: Montserrat;
  font-size: 25px;
}

.part4-image-inner{
margin-left: 6%;

}

.part4-image-inner img{
  width: 90%;
  margin-bottom: 4rem;
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
      mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}


.part4-image-info h4{
 color: aliceblue;
 position: relative;
 bottom: 9rem;
font-family: BPG Mrgvlovani 2010;
}

.part4-image-info h5{
  color: aliceblue;
 position: relative;
 bottom: 9rem;
 font-family: BPG Mrgvlovani 2010;
 font-size: 25px;
}

.part4-image-info2 p{
  color: aliceblue;
  position: relative;
  bottom: 9.5rem;
  font-family: BPG Mrgvlovani 2010;
  font-size: 20px;
 }
}



/* Fleet */

.fleet-list{
  width: 100%;
  background-color:rgba(255, 255, 255, 1);
}


.fleet-header-outer{
  background-color: rgba(255, 255, 255, 1);
}

.fleet-header{
  text-align: center;
  color: rgb(12, 12, 12);
  font-family: BPG Mrgvlovani Caps 2010;
  padding-bottom: 1rem;
  padding-top: 1rem;
  background-color: rgba(255, 255, 255, 1);
}

.fleet-logos{
  background-color: rgba(255, 255, 255, 1);
}
.fleet-logo-inner{
  display: flex;
  justify-content: center;
}

.logo-list-line{
  display: flex;
  margin-right: 1rem;
}


.lexus-logo, .mercedes-logo, .toyota-logo, .tesla-logo{
  margin-left: 1.7rem;
}


.fleet-type{
  width:100%;
  margin-top: 2rem;
}

.fleet-type-list{
display: flex;  
justify-content: space-evenly;
font-family: Montserrat;
}

.all:hover, .suv:hover, .sedan:hover, .minivan:hover, .minibus:hover, .bus:hover, .coupe:hover{
 color:rgba(36, 160, 237, 1);
 transition: 0.4s;
 cursor: pointer;
 text-shadow: rgb(32, 32, 122);
}

.fleet-name-list2 hr, .fleet-name-list hr{
  margin-left: 5%;
  width: 90%;
}

.fleet-class-header{
  width: 100%;
  font-family: Montserrat;
}

.fleet-cars-inner{
  margin-left: 5%;
}

.fleet-class{
  text-align: center;
}

.fleet-cars-col1, .fleet-cars-col2, .fleet-cars-col3{
  width: 30%;
  padding: 1%;
  font-family: Montserrat;
}
.fleet-cars-col1{
  margin-top: -0.4rem;
}

.fleet-cars-inner{
  display: flex;
  text-align: center;
}

.fleet-cars-col1 img{
  width: 60%;
}

.fleet-cars-col2 img{
  width: 60%;
}

.fleet-cars-col3 img{
  width: 60%;
}

.fleet-mercedes{
  margin-top: -0.15rem;
}

.fleet-car-type{
  color:rgba(36, 160, 237, 1);
}